.strengths_bao_hieu{
	position:relative;
	.content-r{
		width: 50%;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translateY(-50%);
	    clip-path: polygon(14% 0, 100% 0%, 100% 100%, 0 100%);
	    background: #cf3529;
	    padding: 40px 0px 40px 140px;
	    box-sizing: border-box;
	    z-index: 2;
	    overflow: hidden;
	    @media all and (max-width: 1024px) {
	    	padding: 30px 0px 30px 90px;
	    	width: 56%;
	    	left: 44%;
	    }
	    @media all and (min-width: 1920px) {
	    	clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0 100%);
	    }
	}
	&:after{
		width: 54%;
	    height: 70%;
	    content: "";
	    position: absolute;
		left: calc(45% + 0px);
    	top: 59%;
	    transform: translateY(-50%);
	    clip-path: polygon(14% 0, 100% 0%, 100% 100%, 0 100%);
	    background: #fce0b7c7;
	    box-sizing: border-box;
	    z-index: 1;

	    

	    @media all and (min-width: 1680px) {
            width: 53.988vw;
		    height: 22.976vw;
		    left: 44vw;
		    clip-path: polygon(7vw 0, 100% 0%, 100% 100%, 0 100%);
	    }

	    @media all and (min-width: 1920px) {
            width: 52vw;
		    height: 19vw;
		    content: "";
		    position: absolute;
		    left: 44.9vw;
		    top: 60%;
		    transform: translateY(-50%);
		    clip-path: polygon(5vw 0, 100% 0%, 100% 100%, 0 100%);
		    background: #fce0b7c7;
		    box-sizing: border-box;
		    z-index: 1;
	    }

	    @media all and (min-width: 1440px) {
	        &:after{
	            height: 68%;
	        }
	    }

	    @media all and (max-width: 1024px) {
	    	clip-path: polygon(13% 0, 100% 0%, 100% 100%, 0 100%);
	    	left: calc(42% + 5px);
	    }
	}

	.title{
		font-family: SVNTradeMark;
	    color: #fff;
	    font-size: 76px;
    	line-height: 76px;
	    text-shadow: 4px 3px 0 #ff3927, 2px 4px 2px #a46bff00;
	    margin-bottom: 8px;

	    transform: translateX(100%);
	    -moz-transform: translateX(100%);
	   -webkit-transform: translateX(100%);

	    transition: all 2s ease-out 0;
		-moz-transition: all 2s ease-out 0;
	   -webkit-transition: all 2s ease-out;

	    @media all and (max-width: 1024px) {
	    	font-size: 60px;
    		line-height: 70px;
	    }
	    @media all and (max-width: 600px) {
		    font-size: 46px;
		    line-height: 46px;
	    }
	}
	.summary{
		font-family: LexendLight;
	    font-size: 44px;
    	line-height: 44px;
	    color: #ffec97;
	    margin-bottom: 24px;

	    transform: translateX(-100%);
	    -moz-transform: translateX(-100%);
	   -webkit-transform: translateX(-100%);

	    transition: all 2s ease-out 0;
		-moz-transition: all 2s ease-out 0;
	   -webkit-transition: all 2s ease-out;

	    span{
	    	color: #fff
	    }
	    @media all and (max-width: 1024px) {
	    	font-size: 30px;
    		line-height: 30px;
	    }
	    @media all and (max-width: 600px) {
		    font-size: 26px;
		    line-height: 26px;
		    margin-bottom: 15px;
	    }
	}
	.summary-hover{
		font-size: 24px;
	    line-height: 34px;
	    color: #fff;
	    font-family: LexendLight;
	    border-left: 3px solid #ffec97;
	    padding-left: 20px;
	    transition: all 2s ease-out 0;
		-moz-transition: all 2s ease-out 0;
	   -webkit-transition: all 2s ease-out;
	    opacity: 0;
	    p{
	    	display: inline-block;
	    	font-style: italic;
	    }
	    span{
	    	font-family: LexendBold;
	    }
	    @media all and (max-width: 1024px) {
	    	font-size: 20px;
    		line-height: 26px;
	    }
	    @media all and (max-width: 600px) {
	    	font-size: 18px;
    		line-height: 24px;
	    }
	}
	.btn-register-bl{
		text-align: left;
		margin-top: 30px;
		a{
			background: #fff;
		    color: #222;
		    border: 1px solid #fff;
		    width: 174px;
		    text-transform: unset;
		    padding: 7px 10px 9px;
		    font-size: 15px;
		    font-family: LexendBold;
		}
		@media all and (max-width: 600px) {
			margin-top: 22px;
			a{
				width: 140px;
			    padding: 7px 0px 6px;
			    font-size: 14px;
			}
		}
	}

	@media all and (max-width: 860px) {
		img{
			display: none !important;
		}
		.content-r{
			position: relative;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    float: none;
		    transform: translateY(0%);
		    clip-path: none;
		    padding: 30px;
		}
	}

}


.hello{
	.strengths_bao_hieu{
		.summary,.title{
			transform: translateX(0%);
	    	-moz-transform: translateX(0%);
	   		-webkit-transform: translateX(0%);
		}
		.summary-hover{
			opacity: 1;
		}
	}
}
