.block_strengths {
  position: relative;
}

.note {
  color: var(--main-color);
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
  margin-bottom: 30px;
  text-align: center;
}
.strengths_img_block
{
  margin: 0 -15px;
  @media all and (max-width: 800px) {
    margin: 0 -10px;
  }
  @media all and (max-width: 500px) {
    margin: 0;
  }
  display: flex;
  .item {
    width: calc(33.33% - 30px);
    margin: 0 15px;
    float: left;
    cursor: pointer;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    margin-bottom: 10px;
    @media all and (max-width: 800px) {
     width: calc(50% - 20px);
     margin: 0 10px;
   }
   @media all and (max-width:600px) {
     width: 100%;
     margin: 0;
     margin-bottom: 15px;
     padding: 5px;
   }
   &:hover{
    background:#fff;
    box-sizing: border-box;
    transition: 0.5s;
    .name{
      color: var(--main-color);
      transition: 0.5s;
    }
    img {
      transform: scale(1.1);
      transition: 0.5s;
      -webkit-transition: 0.5s;
    }

  }
  .image {
        //overflow: hidden;
      }
      .name{
      margin-top: 20px;
      text-align: center;
      font-size:18px;
      line-height: 25px;
      font-weight: bold;
      color: var(--main-color);
      text-transform: uppercase;
      @media screen and (max-width: 768px){
        font-size:14px;
      }

    }
  }
}