.block_strengths {
       box-sizing: border-box;
    width: 100%;
    padding: 0; 
     > .block_title{
            text-align: center;
            font-size: 25px !important;
            font-family: "helveticaneuemedium";
            line-height: 38px !important;
            max-width: 910px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px !important;
            padding-left: 0 !important;
            &:before {
                display: none !important;
              
            }
            
        }
}
.strengths_block  ul li{
	    width: 20%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    
    -webkit-transform: scale(0) rotate(360deg);
    -moz-transform: scale(0) rotate(360deg);
       transition: all 2.3s ease 0s;
    -webkit-transition: all 2.3s ease 0s;        
    a{
        &:hover{
            text-decoration: none;
        }
    }

    
    @media only screen and (max-width:900px){
        width: 33.333%;
       
         &:nth-child(4) {
               clear: left;
                width: 50%;
        }
         &:nth-child(5) {              
                width: 50%;
        }
    }

     @media only screen and (max-width:600px){
        width: 50%;
         &:nth-child(4) {
               clear: none;
                width: 50%;
        }
         &:nth-child(3) {
            clear: both;
        }
         &:nth-child(5) {
            clear: left;
            width: 100%;
        }
        .strengths_block ul li {
            width: 33.333%;
        }

    }

    .content_title {
        color: #333333;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 14px;
        display: none;
    }
    .content_title_shadow{
    width: 100%;
    height: 30px;
    background: url(../images/shadow.png) center center no-repeat;
    margin-top: -5px;
    transition: all 1.2s;
            -webkit-transition: all 1.2s;
            display: none;

    }    
    .content_summary{
        position: relative;
        font-size: 14px;
        text-align: center;
        strong{
                color: #5d5d5d;
            font-weight: 600;
            transition: all .3s ease 0s;
                -webkit-transition: all .3s ease 0s;
            
        }
        em{
            font-style: italic;
        }
       
    }
    img{
          position: relative;
    
    text-align: center;
    border-radius: 50%;
    color: #FFF;
    max-width: 100%;
    height: auto !important;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    border: 6px solid #F3F3F3;
    border-width: 6px;
        
    }
    
    span{
        line-height: 20px;
        font-size: 17px;
        padding: 0 25px;
        display: block;
        color: #1f1f1f;
    }
    .img_and_content {
        padding: 0 20px;
    }
     &:hover{
        .content_title_shadow{
            transform: translate(-15px, 0px);
            
        }
        img{
               transition: all .8s ease 0s;
    -webkit-transition: all .8s ease 0s;
    border: 6px solid #F77F9B;
    border-width: 6px;
    transform: translate(0, -15px);
         }
         .content_title{
            a {
                color: #D9261D;
            }
         }
         .content_summary{           
            strong{
                    color: #F77F9B;        
                    transition: all .3s ease 0s;
                    -webkit-transition: all .3s ease 0s;
            }
            
        }
    }

}

.strengths_block ul li:nth-child(1)  {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
    transform: translate(-1500px, 0);
}

.strengths_block ul li:nth-child(2)  {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    transform: translate(-1500px, -1000px);
}
.strengths_block ul li:nth-child(3)  {
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    transform: translate(0, -1500px);
}
.strengths_block ul li:nth-child(4)  {
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
    transform: translate(1550px, 0);
}

.strengths_block ul li:nth-child(5)  {
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s;
    transform: translate(1550px, 1500px);
}

/*
.hello .strengths_block ul li:nth-child(1)  {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
   
}

.hello .strengths_block ul li:nth-child(2)  {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
   
}
.hello .strengths_block ul li:nth-child(3)  {
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    
}
.hello .strengths_block ul li:nth-child(4)  {
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
    
}

.hello .strengths_block ul li:nth-child(5)  {
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s;
   }
   */

.hello .strengths_block ul li{
    transform: translate(0 , 0);
    -webkit-transform: scale(1) rotate(0deg);
    -webkit-transition: all cubic-bezier(0.4, 0, 1, 1) 2s;
      transition: all 2.3s ease 0s;
    -webkit-transition: all 2.3s ease 0s;     
}