.block-strengths-row2-2{
	margin: 11px -8px;
    display: flex;
    flex-wrap: wrap;
    @media all and (max-width: 580px) {
       margin: 4px -5px;
    }
	.item{
		width: calc(50% - 16px);
	    margin: 8px;
	    background: #f3f3f3;
	    position: relative;
	    text-transform: uppercase;
	    font-weight: bold;
	    font-size: 15px;
	    color: #3c3c3c;
	    padding: 20px 10px 20px 60px;
	    box-sizing: border-box;
	    color: #565656;
	    img{
			width: 35px;
		    height: auto;
		    position: absolute;
		    left: 18px;
		    top: 13px;
		    // fill: var(--main-color);
		}
	    @media all and (max-width: 1020px) {
	    	width: 100%;
	    }

	    @media only screen and (max-width: 769px){
			width: calc(50% - 16px);
	    }

	    @media all and (max-width: 580px) {
	    	display: grid;
    		text-align: center;
			padding: 58px 10px 20px 10px;
			line-height: 18px;
    		font-size: 14px;
    		width: calc(50% - 10px);
    		margin: 5px;
			img{
				width: 36px;
    			height: auto;
    			left: 50%;
    			transform: translateX(-50%);
			}
		
	    }

	}
}