.aq-block-body{
	background: #f7f7f7;	
	.item{
		position: relative;
		border-bottom:1px solid #e7e4e4d6;    
		user-select: none;		
		display: grid;
		.title{
			font-weight: bold;
		    font-size: 16px;
		    line-height: 22px;
		    margin-bottom: 0px;
		}
		.content{
			display: none;
			padding: 5px 40px 12px 0px;
			line-height: 25px;
			font-size: 15px;
			.content2{
				// max-height: 100px;
				// overflow: hidden;
			}
			a.link_aq{
				color: var(--main-color);
				font-size: 13px;
			}
		}
		&:first-child{
			.content{
				// display: block;
			}

		}

		.plus{
			// width: 20px;
			// height: 20px;
			// right: 15px;
			cursor: pointer;
			// position: absolute;
			// top: 10px;
			&:after{
				//content: "";
				content: "+";
				color: var(--extra-color);
				font-size: 20px;
				position: absolute;
				right: 15px;
				top: 14px;
				//width: 20px;
				//height: 20px;
				//background:url('data:image/svg+xml;utf8,<svg fill= "red" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 384.97 384.97" style="enable-background:new 0 0 384.97 384.97;" xml:space="preserve"><g><g id="Arrow_Up_Circle"><path d="M192.485,0C86.173,0,0,86.185,0,192.485C0,298.797,86.173,384.97,192.485,384.97c106.3,0,192.485-86.173,192.485-192.485 C384.97,86.185,298.785,0,192.485,0z M192.485,360.909c-93.018,0-168.424-75.406-168.424-168.424S99.467,24.061,192.485,24.061 s168.424,75.406,168.424,168.424S285.503,360.909,192.485,360.909z"/><path d="M201.087,75.707c-2.262-2.238-5.426-3.525-8.602-3.525c-3.164,0-6.328,1.299-8.59,3.525l-84.2,82.997 c-4.752,4.704-4.74,12.319,0,17.011c4.752,4.704,12.439,4.704,17.191,0l63.46-62.558v187.601c0,6.641,5.438,12.03,12.151,12.03 c6.713,0,12.151-5.39,12.151-12.03V113.169l63.46,62.558c4.74,4.692,12.439,4.692,17.179,0c4.74-4.704,4.74-12.319,0-17.011 L201.087,75.707z"/></g></svg>');
			}
		}
		.minus{
			// width:20px;
			// height:20px;
			// right: 15px;
			// top: 10px;
			cursor: pointer;
			// position: absolute;
			&:after{
				content: "-";
				color: var(--main-color);
				font-size: 20px;
				position: absolute;
				right: 18px;
				top: 12px;
			}
		}

		.icon-question{
			position: absolute;
			top: 15px;
			left: 15px;
			svg{
				width: 14px;
				fill: var(--main-color);

			}
		}

	}
	.color_titile .question a{
		color: var(--main-color) !important;
	}
	.question{
		font-size: 16px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		padding: 14px 35px 14px 0px;
		font-weight: 600;
		.click_aq{
			right: 0;
			position: absolute;
		}
		.click_id{
			position: absolute;
		    right: 0px;
		    width: 35px;
		    height: 35px;
		    display: block;
		    content: "";
		    top: 0px;
		    z-index: 2;
		    border: 1px solid;
		}
	}



	@media screen and (max-width: 768px){

		.question{
			font-size: 14px;
		}

	}
	.color_titile .title{
		color: #f15123;
	}
}
.wrap_pos{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -7px;
	.label{
		box-sizing: border-box;
		input{
			box-sizing: border-box;
		}
	}
}

.aq_form_send{
	.text_form{
		color: #000;
		font-size: 16px;
		font-weight:700;
		padding: 14px 35px 14px 0px;

		a {
			font-size: 0.968vw;
			color: #fff;
			font-family: sans-serif;
			box-sizing: border-box;
			border-radius: 50px;
			padding: 0.625vw 1.667vw;
			background: linear-gradient(90deg, #fe6403 0%, #ff6702 28%, #fa0a07 100%);
			display: inline-block;
			font-weight: normal;
    		text-transform: uppercase;
    		 @media all and (max-width: 768px) {
    		 	font-size: 14px;
   				padding: 6px 12px;
   				text-transform:none;
   				margin-top: 6px;
    		 }
			svg{
				width: 0.781vw;
				height: 0.781vw;
				fill:#fff;
				margin-left: 3px;
				@media all and (max-width: 768px) {
					width: 8px;
    				height: 8px;
				}
			}
		}
	}
}