
.navbar-inner  .sub_menu{
    margin-bottom: 10px;
}


.col-right-detail-content  .block_leftmenu .level_0 > a {
    font-size: 14px;
    border-bottom: 1px solid #efefef;
    display: block;
    padding: 15px 0px 15px 0px;
    position: relative;
    // text-transform: uppercase;

}

.block_leftmenu .activated{
    font-weight: bold;
    position: relative;
    &:after{
        left: -17px;
        top: 50%;
        transform: translate(0px, -56%);
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(213,55,97,0);
        border-right-color: var(--main-color);
        border-width: 6px;
        @media screen and (max-width: 768px){
            display: none;
        }
    }
}

.sub_menu .level_1:hover > a {
	color: #000;
}
.sub_menu  a:hover{
	color: #000;
}
.sub_menu  .level_1 {
   margin-bottom: 11px;
}
.nav .level_0 {

}