.top_menu {
    @media all and (max-width: 800px) {
        display: none;
    }
    .dcjq-mega-menu {
        position: relative;
    }
    .dcjq-mega-menu #megamenu {
     position: relative;
     z-index: 99;
     @media all and (min-width: 1000px) {
       display: flex;
   }
   
   @media all and (max-width:400px ){
    margin-top: 0;
}
}
.dcjq-mega-menu ul.menu li.level_0 {
    @media screen and (min-width:990px){
        &:first-child{
         //   margin-left: 0px;
          //  padding-left: 0px;
      }
      flex: 1;
  }
    //float: left;

    padding: 0px 5px 0px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    -webkit-transition: 0.5s ease-in-out all;
    transition: 0.5s ease-in-out all;
}


.dcjq-mega-menu ul.menu li.mega-hover a, .dcjq-mega-menu ul.menu > li.activated > a, .dcjq-mega-menu ul.menu > li:hover > a{
   color: var(--main-color);
   @media screen and (max-width:990px){
    color:#fff;
}
}

.dcjq-mega-menu ul.menu li.home.mega-hover a, .dcjq-mega-menu ul.menu > li.home.activated > a, .dcjq-mega-menu ul.menu > li.home:hover > a{
 color: var(--main-color);
 @media screen and (max-width:990px){
    color:#fff;
}
}

.dcjq-mega-menu .menu_item_a {
   // border-bottom: 2px solid transparent;
   color: #fff;
   float: left;
   padding: 16px 42px 14px 0;
   font-size: 14px;
   text-transform: uppercase;
   white-space: nowrap;
   transition: 0.5s;
   -moz-transition: 0.5s;
   -webkit-transition:0.5s;
   -o-transition: 0.5s;
    // font-family: sans-serif;
    // font-weight: bold;
    @media screen and (max-width:1260px){
      font-size: 13px;
      text-transform: unset;
    }
    @media screen and (max-width:990px){
        color:#fff;
    }
}
.drop_down {
    color: #FFFFFF;
    display: block;
    float: left;
    padding: 0 10px;
    display: none;
    svg {
        fill: #fff;
        width: 12px;
        height: 12px;
    }

    @media all and (max-width: 990px)
    {
        display: block;
        float: left;
        padding: 8px 10px;
        display: block;
        position: absolute;
        right: 10px;
        top: 3px;
        -webkit-transition: 0.7s ease-in-out all;
        transition: 0.7s ease-in-out all;
    }
}
.dcjq-mega-menu .highlight {
    position: absolute;
    text-align: left;
    top:28px;
    padding-top: 15px;
    left: 20px;
    width: 215px;
    z-index: 99999999;
    -webkit-transition: 0.9s ease-in-out all;
    transition: 0.9s ease-in-out all;
    opacity: 0;
    visibility: hidden;
}
.dcjq-mega-menu .highlight .highlight1{
    /* border-top: 2px solid #0094E0; */
    text-transform: uppercase;
    // margin-top: 2px;
}
.dcjq-mega-menu ul.menu li:hover .highlight {
  opacity: 1;
  visibility: visible;
}
.dcjq-mega-menu .highlight .sub-menu-level1 {
    padding: 13px 0 13px 15px;
    background: #fff;
    border-bottom: 1px solid rgba(222,222,222,0.75);
    box-sizing: border-box;
    a {
        color: #000;
        font-size: 14px;
        text-transform: none;
    }
}
.dcjq-mega-menu .highlight .sub-menu-level1:hover {
 cursor: pointer;
 border-left: 3px solid var(--main-color);
 -webkit-transition: 0.15s ease-in-out all;
 transition: 0.15s ease-in-out all;
}
.dcjq-mega-menu .highlight .sub-menu-level1:hover a{
 text-decoration: none;
}
.dcjq-mega-menu .highlight .sub-menu-level1 a img {
	display: none;
}


.dcjq-mega-menu .sb-toggle-left {
    float: left;
    display: none;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
    @media all and (max-width: 990px) {
        margin-left: 0px;
    }
}

.slide-up {
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.slide-down {
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.m-slide-up {
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.m-slide-down {
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

@media screen and (max-width:1240px){
	.dcjq-mega-menu ul.menu li.level_0 {
        float: left;
        padding-left: 10px;
        padding-right: 10px;

    }
}
@media screen and (max-width:1200px){
	.dcjq-mega-menu ul.menu li.level_0 {
       float: left;
       padding-left: 9px;
       padding-right: 9px;
   }
}
@media screen and (max-width:1170px){
	.dcjq-mega-menu ul.menu li.level_0 {
        float: left;
        padding-left: 8px;
        padding-right: 8px;
    }
    .dcjq-mega-menu .menu_item_a {

    }
}
@media screen and (max-width:1050px){
	.dcjq-mega-menu .menu_item_a {

	}
}
@media screen and (max-width:990px){
	.top_menu #megamenu{		
        position: absolute;
        background: #000000c5;
        /* width: 100%; */
        right: -22px;
        top: 46px;
        z-index: 999;
        border-left: 1px solid #EFEFEF;
        border-bottom: 1px solid #EFEFEF;
        display: none;
        width: 300px;

    }

    .dcjq-mega-menu .sb-toggle-left {
       display: block;
       position: relative;
       svg{
        color: black;
        position: absolute;
        top: 12px;
        width: 20px;
        height: 20px;
        fill: #fff;
        padding-right: 20px;
        z-index: 99;
    }
}
.dcjq-mega-menu .menu_item_a {
    display: block;
    float: none;
    text-align: left;
    padding: 10px 0 10px 10px;
    text-transform: uppercase;
    text-decoration: unset;
}
.dcjq-mega-menu ul.menu li.level_0 {
   float: none;
   padding:  0px;
   border-top: 1px solid rgba(255, 255, 255, 0.56);
   margin: 0;
}
.dcjq-mega-menu ul.menu li.level_0:before{
    display: none;
}
.dcjq-mega-menu ul.menu li.level_0:after{
    display: none;
}
.dcjq-mega-menu .highlight {
	background: transparent;
    border: none;
    box-shadow: none;
    position: relative;
    text-align: left;
    /* margin-top: 3px; */

    float: none;
    top: 0px;
    width: auto;
    display: none;
    opacity: 1;
    visibility: visible;
    left: 0;
    padding-top: 0;
}
.dcjq-mega-menu .level_0:hover .highlight {

}
.dcjq-mega-menu .highlight .highlight1 {
    background: transparent;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    text-transform: none;
}
.dcjq-mega-menu .highlight .highlight1 a{
    color: #FFF;
}
.dcjq-mega-menu .highlight .sub-menu-level1 {
   border-top: none;
   padding: 9px 0 9px 22px;
}
.dcjq-mega-menu ul.menu li.mega-hover a, .dcjq-mega-menu ul.menu > li.activated > a, .dcjq-mega-menu ul.menu > li:hover > a {
  -webkit-transition: 0.25s ease-in-out all;
  transition: 0.25s ease-in-out all;
  background: var(--main-color);
}

}
.menu_scroll {
    .menu_item_a {
        padding: 10px 15px 10px;
    }
    .highlight {
    }
}

}