.product_cart  {
  padding: 20px;
  background: #fff;
}
.product_status {
  color: red;
}
.frame_left {
  .icon_hot {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    left: 10px;
    top: 8px;
    background-image: url('../images/icon_hot.png');
    background-size: cover;
    border-radius: 10px;
    z-index: 10;
    width: 60px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    padding-left: 20px;
    font-weight: bold;
    box-sizing: border-box;

  }
}
.product_grid .item_special .item_special_t { 
  // background-image: url('../images/bg_special.jpg');
  background-size: cover;
}

.fotorama__fullscreen-icon {
  opacity: 1;
  background-position: -63px 0px;
  // &:after {
  //   content: 'x';
  //   color: #fff;
  //   position: absolute;
  //   font-size: 20px;
  //   right: 10px;
  //   top: 5px;
  // }
}



.product .frame_left {
  position: relative;  
}
.product_grid {
  display: flex;
  flex-flow: row wrap;
  border-color: #ededed;
  border-width: 1px 0 0 1px;
  border-style: solid;
  .product_grid_inner, .row_inner{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
  }
}
.product_grid {
  .item {
    position: relative;
    .gift {
      font-size: 13px;
      color: #565656;
      margin-top: 15px;
      ul li,p{
            position: relative;
            padding-left: 18px;
            font-size: 13px;
            margin-bottom: 9px;
            &:after{
                content: '';
                position: absolute;
                background: var(--main-color);
                top: 2px;
                left: 0;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                box-sizing: border-box;
                background: url('data:image/svg+xml;charset=utf-8,<svg height="12px" viewBox="0 0 512 512" width="12px" fill="rgb(43, 169, 105)" xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm129.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0"/></svg>');
                background-repeat: no-repeat;
            }
            a{
              color:var(--blue-color);
            }
        }
      @media all and (max-width: 400px) {
        font-size: 11px;
      }
      
    }
    .frame_inner {
      position: relative;  
      .icon_hot {
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        position: absolute;
        left: 10px;
        top: 8px;
        background-image: url(../images/icon_hot.png);
        background-size: cover;
        border-radius: 10px;
        z-index: 2;
        width: 31px;
        height: 39px;
        line-height: 26px;
        text-align: center;
        padding-left: 1px;
        padding-top: 13px;
        font-weight: bold;
        box-sizing: border-box;
        font-size: 10px;
      }

      .icon_new {
        color: #fff;
        display: inline-block;
        margin-left: 10px;
        background: #07772c;
        position: absolute;
        font-size: 12px;
        padding: 3px 4px;
        top: 10px;
        left: 10px;
        border-radius: 3px;
        line-height: 16px;
      }



    }
  }
} 
.item_special_bt {
  &:before {
    display: none ;
  }
}
.item_special_t  {
  &:before {
    display: none ;
  }
}

.product_grid .item {
    float: left;
    width: 25%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 20px;
    @media all and (max-width: 800px){
        width: calc(100% / 3) ;
        padding: 10px;
    }
    @media all and (max-width: 600px){
        width: calc(100% / 2) ;
    }
}


.product_grid .item .frame_inner {
    position: relative;
}

.product_grid .item .product_image  {
    text-align: center;
    overflow: hidden;
    margin-bottom: 0px;
    min-height: 186px;
    position: relative;
    .type{
        position: absolute;
        bottom: -1px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('../images/bg_icon_style.png');
        background-size: cover;
        width: 124px;
        height: 26px;
        span{
            font-style: italic;
            font-weight: bold;
            padding: 4px 0px 0px 17px;
            display: inline-block;
            font-size: 12px;
            box-sizing: border-box;
            color: #fff;
        }
    }


    .hot_icon{
        position: absolute;
        top: 0px;
        width: 65px;
        height: 27px;
        text-align: center;
        background-image: url(../images/bg_icon_do.png);
        color: #fff;
        line-height: 27px;
    }
    .promotio_icon{
        position: absolute;
        top: 0px;
        width: 65px;
        height: 27px;
        text-align: center;
        background-image: url(../images/bg_icon_xanh.png);
        color: #fff;
        line-height: 27px;
    }
    .check_hot_icon{
        left: 58px;
    }

    @media screen and (max-width:1200px){
        min-height: 120px;
    }
    @media screen and (max-width:400px){
        min-height: 110px;
    }
}

.promotion {
 .frame_dt .db p {
  &:after {
    background: #c30808;
    background-image: linear-gradient(to right, #c30808, #c30808);
  }
}
}
.product_grid .item .product_image a  {
    display: grid;;
    position: relative;
  .doi-1{
    position: absolute;
    width: 39px;
    height: 39px;
    top: 3px;
    content: '';
    background: #ff0000bd;
    border-radius: 50%;
    color: #FFF;
    font-size: 10.2px;
    line-height: 12px;
    /* text-transform: uppercase; */
    padding-top: 5px;
    box-sizing: border-box;
    letter-spacing: -0.8px;
    font-weight: 600;
    word-spacing: -0.8px;
    left: 6px;
    -webkit-animation: jump 4.8s ease-in infinite;
    animation: jump 4.8s ease-in infinite;
  }
  .gia-soc,.hot-sale{
    color: #FFF;
    background: #f20202a3;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 3px;
    font-weight: bold;
    font-size: 12px;
    -webkit-animation: scale-shadow 2.8s ease-in infinite;
    animation: scale-shadow 2.8s ease-in infinite;
    display: block;
    border-radius: 4px;
  }

  .bao-hanh-24,.doi-1-24,.bh-ca-roi-vo{
    color: #FFF;
    background: #0183bf;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 3px;
    font-weight: bold;
    font-size: 12px;
    display: block;
    border-radius: 4px;
    span{
      -webkit-animation: text-circle 4.0s ease-in infinite;
      animation: text-circle 4.0s ease-in infinite;
      display: inline-block;
    }
  }
  .tra-gop{
   color: #FFF;
   background: Orange;
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 0px 3px;
   /* text-transform: uppercase; */
   font-weight: bold;
   font-size: 12px;
   /* right: 0; */

   display: block;
   border-radius: 4px;

   span{
    -webkit-animation: neon1 3.0s ease-in infinite;
    animation: neon1 3.0s ease-in infinite;
    display: inline-block;
  }
}
}
@-webkit-keyframes neon1 {
  from {
   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #ff2222, 0 0 10px #ff2222, 0 0 10px #ff222f, 0 0 10px #ff2222, 0 0 10px #ff2222;
 }
 to {
  text-shadow:none;
}
}
@keyframes fadeIn1 {
  from { opacity: 0; }
  to { opacity: 1; }

}
@keyframes jump{
  0%{transform:translateY(0) scale(1.05,.95)}
  15%{transform:translateY(-2px) scaleY(1.03)}
  25%{transform:translateY(-4px) scale(1)}
  30%{transform:translateY(-2px) scale(1)}    
  50%{transform:translateY(0) scale(1.05,.95)}
  60%{transform:translateY(0) scale(1)}
}
@keyframes scale-shadow{
  0%{opacity:1;transform:scale(1)}
  20%{opacity:.8;transform:scale(.9)}
  40%{opacity:1;transform:scale(1)}
  to{opacity:1;transform:scale(1)}
}
@keyframes text-circle{
  0%{transform: rotate(0deg) scale(1);}
  15%{transform: rotate(0deg) scale(1);}
  50%{transform: rotate(360deg) scale(2);
    font-size: 13px;
  }
  70%{transform: rotate(0deg) scale(1);}
  to{transform: rotate(0deg) scale(1); }
}


.product_grid .item .product_image img {
 transition: all 0.3s ease 0s;
 -webkit-transition: all 0.3s ease 0s;

 width: 100%;
 height: auto;
}


.product_grid .item .summary  {
    padding: 0px 10px 10px;
    line-height: 22px;
    height: 48px;
    box-sizing: border-box;
    overflow: hidden;
}

.product_grid .item .btn-buy-item  {
    padding: 0px 10px 10px;
    text-align: center;
    a{
      display: inline-block;
      padding: 6px 15px;
      background: #dc0000;
      color: #fff;
    }
}


.product_grid .item .summary_inner{
  margin-top: 10px;
  color: #333;
  font-size: 12px;
  max-height: 38px;
  overflow: hidden;
}
.product_grid .item .summary_inner a{
    color: #333;
    text-decoration: none;
}


.product_grid .item .name {
    color: #333;
    display: block;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
    margin: 10px 0px;
    line-height: 18px;
   font-size: 14px;
  &:hover{
    color:var(--blue-color);
  }
}

.product_grid .discount {
  background: #0089de;
  color: #FFFFFF;
  height: 22px;
  left: 15px;
  line-height: 20px;
  padding: 2px 1px 0px 1px;
  position: absolute;
  top: 10px;
  width: 36px;
  text-align: center;
  border-radius: 4px;
}

// .price_arae{
//     padding: 0px 10px 10px;
// }

.price_discount {
    color: #DC0000;
    display: inline-block;
    margin-left: 10px;
    background: #FFCA28;
    position: absolute;
    font-size: 14px;
    padding: 6px 4px 10px;
    top: 0px;
    right: 0px;
    /* border-radius: 3px; */
    line-height: 16px;
    z-index: 2;
    font-weight: bold;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.frame_left {
  .price_discount {
    top: 20px;
    right: 40px;

  }
}

.product_grid .item .price_old{
    color: #848181;
    font-size: 14px;
    font-weight: normal;
    display: inline-flex;
    text-decoration: line-through;
    margin-left: 5px;
    display: inline-block;
}

.product_grid .item .price_old span{
    text-decoration: line-through;
}

.product_grid .item .price_current {
    color: #e10c00;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}
.product_grid .item .discount_tt {
  font-size: 13px;
  color: #ff0404;
  display: inline-block;
}

.product_grid .status {
  margin-bottom: 18px;
}
.product_grid .status li {
  color: #606060;
  font-size: 11px;
  list-style: disc inside none;
}
.product_grid .button-cart{
    display: none;
}

.product_grid  .button-detail{
 color: #f7f7f7;
 display: inline;
 padding: 6px 13px;
 -webkit-transition: 0.25s ease-in-out all;
 transition: 0.25s ease-in-out all;
 margin-top: 11px;
 display: table;
 position: absolute;
 bottom: -82px;
 right: 8px;
 background: #ED1C24;
 height: 13px;
 width: 5px;
 text-decoration: none;
}
.product_grid  .button-detail span{
  font-size: 22px;
  font-weight: 500;
  font-family: arial;

}
.product_grid .button_area {
    display: none;
}

.product_grid .button_area  a{
  border-radius: 50% 50% 50% 50%;
  color: #FFFFFF;
  /* float: left; */
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 38px;
  background-color: #2080CA;
  color: #fff;
  border: 1px solid #2080CA;
  display: inline-block;
}
.product_grid .button_area  a:first-child{
  margin-right: 15px;
}

.product_grid .button_area  a::before,
.product_grid .button_area  a::after{
  bottom: 0;
  height: 100%;
  line-height: 38px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  width: 100%;
  float: left;
  color: #ffffff;
  font-size: 19px;
  //  background-image: url(../images/icon_v1.png);
  background-position: -85px -64px;
  content: '';
}
.product_grid .button_area  a::before{
  bottom: 0;
}
.product_grid .button_area  a::after{
  bottom: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
  left: 0;
}
.product_grid .button_area  .add_cart::before{
}
.product_grid .button_area  .add_cart::after{
}
.product_grid .button_area  .detail_button::before{
}
.product_grid .button_area  .detail_button::after{
}
.product_grid .button_area  a:hover:before {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}
.product_grid .button_area  a:hover:after {
 bottom: 0;
}

.product_type{
    position: absolute;
  top: 0;
  left: 0;
  background: #0183BF;
  color: #FFF;
  padding: 1px 8px;
  border-radius: 3px 3px 3px 0;
  font-size: 12px;
  line-height: 18px;
}
.product_type:after{
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 0;
  border-color: #0183BF transparent transparent transparent;
}
.product_type_moi{
  background: #00A7F4;
  color: #FFF;
  padding: 1px 8px;
  border-radius: 3px 3px 3px 0;
  font-size: 12px;
}
.product_type_moi:after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 0;
    border-color: #00A7F4 transparent transparent transparent;
}
.product_type_hot,.product_type_sale{
    background: #FF0000;
    color: #FFF;
    padding: 1px 8px;
    border-radius: 3px 3px 3px 0;
    font-size: 12px;
}
.product_type_hot:after,
.product_type_sale:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 0;
  border-color: #FF0000 transparent transparent transparent;
}
.product_type_order_0{
  top: 6px;
  left: 6px;
}
.product_type_order_1{
    top: 30px;
    left: 6px;
}
.product_type_order_2{
    top: -123px;
    left: 7px;
}
.product_type_qua-tang{
    // background-image: url(../images/icon_v1.png);
    background-repeat: no-repeat;
    background-position: -215px 0;
    background-color: transparent;
    width: 35px;
    height: 33px;
    text-indent: -999px;
    left: 198px;
    top: -12px;
}
.product_type_qua-tang:after {
    border-color: transparent;
}

@media screen and (min-width:800px){
    
  .product_grid .item:hover .product_image img {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

}



.progress {
    display: block;
    padding: 0px 10px 18px;
    .bar {
        position: relative;
        background-color: #27c15c;
        padding: 10px 0px;
        flex: 1 1 0%;
        border-radius: 15px;
        overflow: hidden;
        padding: 0px 0px 0px 0px;
        font-size: 12px;
        height: 18px;
        .percent {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 0px;
          height: 100%;
          background-color: var(--main-color);
          z-index: 1;
          // padding-left: 10px;
          color: #fff;
        }
        .text{
          position: absolute;
          z-index: 2;
          color: #fff;
          left: 10px;
        }
        .content {
            top: 0px;
            left: 0px;
            position: relative;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #fff;
            z-index: 2;
            padding: 0px 4px;
            p {
                font-size: 11px;
            }
        }
    }
}


.block_title_product{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 14px;
}

.product_grid_5 .item{
  width: 20%;
}
.product_grid_slide{
  .item{
    width: auto ;
  }
  .owl-nav div{
    position: absolute;
    top: calc(50% - 18px);
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 50%;
    color: #b5b5b5;
    background: #fff;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 1px 11px #8a8a8a66;
    padding: 6px 0 3px 4px;
  }
  .owl-prev {
      left: -10px;
  }
  .owl-next {
      right: -10px;
  }
}


.product_grid_full{
  .item{
    width: calc(20% - 14px);
  }
}

.product_grid_scroll{
  overflow-x: auto;
  .product_grid{
    width: 832px;
    margin: 0px -5px;
    .item{
      width: 155px;
      @media screen and (max-width:350px){
         width: 140px;
      }
    }
  }

}

