	.block_by_fast {
	//padding: 50px;
	width: 75%;
	float: left;
	box-sizing: border-box;
	@media all and (max-width: 600px) {
		padding: 10px;
		width: 100%;
	}
}

.wrap-by-fast {

.buy_fast .button-buy-fast {
	width: 40px;
	border: none;
	color: #777;
	position: absolute;
	right: 20px;
	top: 0px;
	background: #fff;
	border-radius: 50%;
//	float: left;
//	background-color: var(--main-color);

    // float: right;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    line-height: 45px;
    margin-left: 0px;
    font-family: RobotoBold;
    margin:0px 0px;
    padding-left: 0px;
    font-size:18px;
 //   transition: 0.5s;
  //  border-left: 1px solid var(--main-color);
  @media screen and (max-width:770px){

  }
  &:hover{
  	background: #fff;
  	color: var(--main-color);
  }
  svg {
  	fill: #222;
  	transition: 0.5s;
  }
  &:hover svg {
  	fill: var(--main-color);
  	transition: 0.5s;
  }
}

}


.footer_phone{
	border-bottom: 1px solid #757575; 
	padding-top: 50px;
	background: #222222;
	padding-bottom: 50px;
}
.phone-left{
	width: 50%;
	float: left;
	//padding-left: 100px;
	color: white;
	box-sizing: border-box;
	@media all and (max-width: 1100px) {
		
		float: none;
	}
	@media all and (max-width: 600px) {
		width: 100%;
	}
}
.phone-tittle {
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	color: #fff;
}
.phone-content {
	font-size: 16px;
	margin-top: 5px;
	color: #b5b5b5;
}
.fast-left{
	width: 658px;
	float:left;
	@media screen and (max-width:1040px){
		width: 100%;
		text-align:center;
	}
	.fast-left-icon{
		width: calc(100% - 552px);
		float: left;
		height: 102px;
		background: var(--black-color);
		position:relative;
		animation: 2s ease-in-out 0s normal none infinite running change-translate;
		-webkit-transition: 0.3s ease-in-out all;
		transition: 0.3s ease-in-out all;
		@media screen and (max-width:1040px){
			display:none;
		}

	}

	.icon_phone{
		width: 58px;
		height: 75px;
		/* background: green; */
		margin: 14px 5px 0px 60px;
		z-index: 2;
		position: absolute;;

	}
	.icon_v1{
		background-position: -35px 75px;
		z-index: 3;
	}

	.fast-left-text{
		float: right;
		width: 505px;
		margin: 26px 0px;
		color: #fff;
		padding-left: 13px;
		box-sizing: border-box;
		@media screen and (max-width:1040px){
			width: 100%;
			margin: 5px 0px 0px 0px;
			padding-left: 0px;
		}

		.fast-top{
			font-size:24px;
			font-family:RobotoCondensed-Bold;
			margin-top: -3px;
		}
		.fast-bottom{
			font-size:16px;
			@media screen and (max-width:1040px){
				box-sizing: border-box;
			}
		}
	}
}
.buy_fast_body input {
	border: none;
	height: 28px;
	background: transparent;
	outline: none;
	color: #fff;
	width: 100%;
}
.buy_fast {
	float: right;
	width: 73%;
   // transform: translate(0, -18px);
   @media all and (max-width: 1100px) {

   }
   @media all and (max-width: 800px) {
   	width: 100%;
   }
}

@keyframes change-translate {
	from {
		transform: translateX(-88px);
	}
}
.fast-right{
	width: calc(100% - 658px);
	float:right;
	box-sizing: border-box;
	@media screen and (max-width:1040px){
		width: calc(100% - 10px);
		margin: -15px 5px;
		text-align: center;
	}
}
#buy_fast_form_1 {
	width: calc(100% - 0px);
	position: relative;
}
.buy_fast #email_buy_fast {

	padding-left: 20px;
	box-sizing: border-box;
	line-height: 40px;
	height: 40px;
	background:white;
	margin:0px;
	font-size:16px;
	color: #111;
	border-radius: 40px;
	padding-left: 30px;
	outline: none;
	border: none;
	font-size: 14px;
	float: left;

	@media screen and (max-width:770px){


	}
}
.buy_fast #telephone_buy_fast :placeholder {
	color: #ddd;
	margin-left: -10px;
} 


.buy_fast_body {
//	display: flex;
@media all and (max-width: 800px) {
	margin-top: 5px;
	margin-bottom: 5px;
}

}
.buy_fast_body button:last-child{
}

.wrap-by-fast{
	//background: black;

}
.wrap-by-fast .form-title {
	color: white;

}

.wrap-by-fast .form-title span {
	font-size: 25px;
	font-style: italic;
	font-family: 'Lobster Two', cursive !important;
	line-height: 20px;
}
.wrap-by-fast .form-title p {
	margin-top: 10px;
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 60px;
	margin-bottom: 0;
}
.wrap-by-fast h3{
	font-size:40px;
	font-style: italic;
	font-family: 'Lobster Two', cursive !important;
	color: #fff;
	font-weight: bold;
	margin-top: 0px;
}
@media all and (max-width: 1000px) {
	.phone-left {
		//padding-left: 50px;
	}
	.buy_fast #telephone_buy_fast {
		//width: 70%;
	}
}

@media all and (max-width: 800px){
	.footer_phone {
		padding: 20px 20px 0;
		.phone-left {
			width: 100%;
			padding: 0;
		}
	}

	.phone-tittle {
		font-size: 18px;
	}
	.phone-content {
		font-size: 16px;
	}
	.buy_fast .button-buy-fast {
		font-size: 16px;
	}
}
.buy_fast_main {
	display: none;
}
.buy_fast_body {
	//margin-top: 10px;
	//width: calc(100% - 120px);
	@media all and (max-width: 800px){
		margin-top: 0px;
	}
	td {
		height: 30px;
		border-bottom: 1px solid #ddd;
		padding-top: 10px;
		color: #fff;
	}
	input {
		border: none;
		height: 28px;
		background: transparent;
		outline: none;
		color: #fff;
		width: 100%;

	}
	
}
.form_c {
	width: 100%;
	height: 1000px;
	background: #ddddddab;
	position: fixed;
	z-index: 99999;
	padding-top: 100px;
	@media all and (max-width: 800px) {
		padding-top: 75px;
	}
	.container {
		width: 900px;
		padding: 30px 50px;
		border: 3px solid var(--main-color);
		border-radius: 10px;
		background: #000000b5;
		position: relative;
		@media all and (max-width: 800px) {
			padding: 10px;
		}
		.close {
			font-size: 25px;
			color: red;
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 30px;
			background: #fff;
			text-align: center;
			line-height: 25px;
			border-radius: 0 10px 0 0;
			cursor: pointer;
		}
	}
}