.block-manufactories-body{
	display: flex;
	flex-wrap: wrap;
	.item{
		width: 25%;
		text-align: center;
		display: block;
		padding: 28px 10px;
		box-sizing: border-box;
		border-right: 1px solid #ddd;
		font-size: 16px;
		text-transform: uppercase;
		color: #ababab;
		letter-spacing: 1.2px;
		@media all and (max-width:768px) {
			padding: 14px 5px;
		}
		&:nth-child(1){
			border-left: 1px solid #ddd;
			border-bottom: 3px solid var(--main-color);
			color: #333;
		}
	}
}

@media all and (max-width:768px) {
	.block_manufactories{
		overflow-y: hidden;
    	overflow-x: auto;
	}
	.block-manufactories-body{
     	width: 600px;
    }
}