
.close-nav-wrapper{
    text-align: right;
    .close-nav{
        display: inline-block;
        border: 1px solid #616161;
        width: 25px;
        height: 25px;
        text-align: center;
        border-radius: 50%;
        box-sizing: border-box;
        line-height: 25px;
        background: #ffffff;
    }

}

input[type ='checkbox']{
    position: absolute;
    z-index: -99999;
    opacity: 0;
    visibility: hidden;
    display: none;
}
#show_menu:checked + .dcjq-mega-menu{
        //max-height: 10000px;
        //transition:.5s;
        height: auto;
        width: 100%;
        position: fixed;
        left: 0;
        //width: 100%;
        opacity: 1;
        z-index: 9;
        .hiden_menu_show{
            label .navicon-line{
                position: absolute;
                &:nth-child(1){
                    transform: rotate(45deg);
                    top:0;
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    transform: rotate(-45deg);
                    top:10px;
                }
            }
        }

    }
    .dcjq-mega-menu ul.menu li.level_0 {
        float: left;
        position: relative;
        // text-align: center;
        box-sizing: border-box;
        -webkit-transition: 0.5s ease-in-out all;
        transition: 0.5s ease-in-out all;
        @media all and(min-width: 1025px){
            &:not(:last-child){
                &:after{
                    position: absolute;
                    right: 0;
                    top: 6px;
                    bottom: 6px;
                    width: 1px;
                    content: "";
                    background: linear-gradient(rgba(1, 1, 1, 0), white, rgba(1, 1, 1, 0));
                }
            }
        }
        @media all and (max-width: 1025px){
            float: none;

        }
        // &:last-child{
        //     margin-right: 0;
        //     .menu_item_a{
        //         padding-right:0px ;
        //     }
        // }
    }
    
    @media all and (max-width: 1024px){
        .dcjq-mega-menu{
            width: 320px;
            padding-left: 10px;
            box-sizing: border-box;
            // position: fixed;
            // top: 100px;
            // left: -100%;
            // width: 100%;
            // z-index: 9;       
            // background:var(--main-color);
            // transition: 0.5s;
        }
        .m-slide-up .dcjq-mega-menu{
            top: 65px;
        }

    }
    @media all and (max-width: 768px){
        .dcjq-mega-menu{
            top: 82px;
        }
    }
    @media all and (max-width: 500px){
        .dcjq-mega-menu, .m-slide-up .dcjq-mega-menu{
            top: 64px;
        }
    }



    .dcjq-mega-menu ul.menu li.mega-hover a, .dcjq-mega-menu ul.menu > li.activated > a, .dcjq-mega-menu ul.menu > li:hover > a{
       // background-color: #166ca7;
       color: #000;
       @media all and(max-width: 1025px){
        border-top: 0px;
        color: #000;
    }
}

.dcjq-mega-menu ul.menu li.home.mega-hover a, .dcjq-mega-menu ul.menu > li.home.activated > a, .dcjq-mega-menu ul.menu > li:hover > a{
   // background-color: #166ca7;
   color: #000;
   @media all and(max-width: 1025px){
    border-top: 0px;
    color: #000;
}
}

.dcjq-mega-menu .menu_item_a {
    float: left;
    white-space: nowrap;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    text-transform: uppercase;
    font-size: 18px;
    padding: 17px 15px;
    box-sizing: border-box;
    color: #000;
    svg{
        width: 20px;
        height: 18px;
        fill: #000;
    }
    @media all and (max-width: 1024px){
        display: block;
        float: none;
        padding: 10px 0px;
        font-size: 14px;
        color: #000;
    }
    @media all and (max-width: 650px){
        display: block;
        float: none;
        padding: 10px 0px;
        font-size: 14px;
    }
}
.drop_down {
    display: none;
    color: #000;
    float: left;
    padding: 0 2px;
    position: absolute;
    right: -1px;
    top: 16px;
    svg {
        width: 8px;
        height: 8px;
        fill: #333;
    }
    @media all and (max-width: 1025px){
        display: block;
        float: left;
            //padding: 10px 20px;
            display: block;
            position: absolute;
            right: 0px;
            top: 2px;
            -webkit-transition: 0.7s ease-in-out all;
            transition: 0.7s ease-in-out all;
            height: 39px;
            width: 45px;
            box-sizing: border-box;
            border: 1px solid var(--border-color);
            display: flex;
            align-items: center;
            justify-content: center;
            &:after{
                content: '';
                width: 6px;
                padding: 0;
                height: 6px;
                display: block;
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                transform: rotate(45deg);
                margin-top: -5px;
                transition: .2s;
            }
        }
    }
    .dcjq-mega-menu .highlight {
        position: absolute;
        text-align: left;
        top: 150%;
        left: 0px;
        width: 250px;
        z-index: 99999999;
        -webkit-transition: 0.9s ease-in-out all;
        transition: 0.9s ease-in-out all;
        opacity: 0; 
        visibility: hidden;
        transition: .5s;
        z-index: -1;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.22);
        // background: #fff; 
        border: 1px solid var(--border-color);
        box-sizing: border-box;
        @media all and (max-width: 1025px){
            position: inherit;
            width: 100%;
            max-width: 100%;
            opacity: 1;
            visibility: visible;
            left: unset;
            top: unset;
            box-shadow: none;
            border: none;
            height: 0;
            overflow: hidden; 
            // background: var(--extra-color);
            z-index: 2;
        }
    }
    .dcjq-mega-menu ul.menu li:hover .highlight {
        top: 100%;
        opacity: 1;
        visibility: visible;
        z-index: 999;
        // @media all and (max-width: 1025px){
        //     top: 87px;
        // }
        // @media all and (max-width: 650px){
        //     top: 79px;
        // }
    }

    .dcjq-mega-menu .highlight .sub-menu-level1 {
        border-bottom: 1px solid var(--border-color);
        position: relative;
        transition: 0.15s ease-in-out all;
        -webkit-transition: 0.15s ease-in-out all;
        border-left: 2px solid transparent;
        background: #d4d4d4;
        @media all and (max-width: 1025px){
            // text-align: center;
            border-bottom: none;
        }
    }
    .dcjq-mega-menu .highlight .sub-menu-level1 a{
        //color: #000;
        font-size: 15px;
        padding: 10px 10px 10px 20px;
        display: block;
        transition: .4s;
        //color: #fff;
        @media all and (max-width: 1024px){
            padding: 13px;
            display: block;
           // font-weight: 600;
           text-transform: uppercase;
           font-size: 14px;
           color: #000;
       }

   }
   .dcjq-mega-menu .highlight .sub-menu-level1:hover {
    cursor: pointer;
    border-left: 2px solid var(--main-color);      
}
.dcjq-mega-menu .highlight .sub-menu-level1:hover a{
    text-decoration: none;
    color:var(--main-color);
}
.dcjq-mega-menu .highlight .sub-menu-level1 a img {
    display: none;
}



.slide-up {
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.5s ease;
    #megamenu{
        .menu_item_a{

        }
    }
}
.slide-down {
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: 0s;
}

.m-slide-up {
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.m-slide-down {
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.level_0 #drop_down_1_0:checked ~ .highlight,
.level_0 #drop_down_1_1:checked ~ .highlight,
.level_0 #drop_down_1_2:checked ~ .highlight,
.level_0 #drop_down_1_3:checked ~ .highlight,
.level_0 #drop_down_1_4:checked ~ .highlight,
.level_0 #drop_down_1_5:checked ~ .highlight,
.level_0 #drop_down_1_6:checked ~ .highlight,
.level_0 #drop_down_1_7:checked ~ .highlight{ 
    height: auto;
    max-height: 400px;
    overflow: auto;
    opacity: 1;
    overflow-x: auto;
    border-bottom: 1px solid var(--border-color);
}