ul.menu-bottom li.level0{
    
 
}
ul.menu-bottom li.level0 > a,
ul.menu-bottom li.level0 > span{
	text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    color: #000;

}
ul.menu-bottom li.level0 ul{
	margin-top: 4px;
}
ul.menu-bottom li.level0 ul li{
	    margin-bottom: 12px;
}
ul.menu-bottom li.level0 ul li a{
	 color: #333;
}
ul.menu-bottom li.level0 ul li a:hover{
	 color:  var(--extra-color);
}
ul li.level1 a,
ul li.level1 span{
}
ul li.level1 a:hover,
ul li.level1 span:hover{
    color: #fff;
}
ul.menu-bottom li.level0 span.click-mobile {
    background: rgba(0, 0, 0, 0) url("../images/icon-click.png") no-repeat scroll center;
    position: absolute;
    cursor: pointer;
    padding: 16px;
    right: 0px;
    top: 0px;
    display: none;
}
ul.menu-bottom li.level0 span.click-mobile.active {
    background: rgba(0, 0, 0, 0) url("../images/icon-click-active.png") no-repeat scroll center;
}
.menu-bottom ul li.mid-sitem > span i{
	background: rgba(0, 0, 0, 0) url(../images/bo-cong-thuong.png) no-repeat scroll left bottom;
    content: ' ';
    height: 47px;
    display: block;
    /* border-top: 1px solid #CCC; */
    margin-top: 23px;
    padding-top: 12px;
}

@media screen and (max-width:650px){
    ul.menu-bottom li.level0 {
        float: left;
        width: 100%;
        border: 1px solid #e3e3e3;
        margin-bottom: 10px;
        position: relative;
        padding-right: 40px;
    }
    ul.menu-bottom li.level0 span.click-mobile {
        display: block;
    }
    ul.menu-bottom li.level0 > a, ul.menu-bottom li.level0 > span {
          display: block;
	    padding: 8px;
	    margin-bottom: 0;
    }
    ul.menu-bottom li.level0 ul {
        display: none;
    }
    ul li.level1 {
       border-top: 1px solid #5d5a5a;
	    padding: 8px 0px 7px 0px;
	    margin-left: 22px;
    }
	ul.menu-bottom li.level0 ul li {
	    margin-bottom: 8px;
	}
    ul li.level1.first-sitem,
    ul li.level1:first-child {
        border-top: 0;
    }
}