.tab_content .products_tab{
    margin-left: 0;
    margin-right: -16px;
}
.products_tab .tab_title{
    position: relative;
    margin-bottom: 11px;
     padding-right: 10px;
    border-bottom: 2px solid var(--extra-color);
    margin-left: 23px;
}
.products_tab .item{
    width: auto !important;
    float: none !important;
    margin: 0px;
}
.products_tabs .tab_title {
    border-bottom: 0px solid #ddd;
    background: #fff;
    margin-top: 30px;
    position: relative;
    padding-bottom: 12px;
    padding-top: 18px;
    padding-left: 20px;
}
.products_tabs .tab_title li {
    transition: 0.5s;
    display: inline;
    z-index: 10;
    min-width: 116px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    -webkit-transition: 0.3s ease-in-out all;
    transition: 0.3s ease-in-out all;
    margin-right: 50px;
    padding-bottom: 11px;
    border-bottom: 2px solid transparent;
}
.products_tabs .tab_title li.activated, .products_tabs .tab_title li:hover {
    transition: 0.5s;
    border-bottom: 2px solid var(--main-color);
    display: inline;
    position: relative;
    color: var(--main-color);
    cursor: pointer;
}
.products_tabs .tab_title li.activated::after,.products_tabs .tab_title li:hover::after{
    background: var(--extra-color);
}
/* .products_tabs .tab_title li:before{
      content: "\f013";
    position: absolute;146

    left: -11px;
    top: 10px;
    font-family: FontAwesome;
    font-size: 16px;
} */
.products_tabs .tab_title li.first-item:before{
    display: none;
}
.products_tabs .tab_title:after{
        content: '';
    clear: both;
    float: none;
    display: block;
}
.products_tabs  .tab_content{
   margin: 0;
   // margin-right: -10px;
   // margin-left: -10px;
    
}
/************************** OLD *************/
.products_tab  .owl-controls {
     position: unset;
}
.products_tab .owl-nav {
    display: block;
    position: unset;
}

.owl-theme .owl-controls {
    text-align: center;
}
.products_tab .owl-nav .owl-prev, .products_tab .owl-nav .owl-next{
  display: block !important;
    height: 26px;
    position: absolute;
    top:-36px;
    width: 26px;
    /* opacity: 0;*/
   /* padding: 3px 10px;*/
    border: 1px solid #eee;
    /*border-radius: 50%;*/
    font-size: 33px;
    line-height: 19px;
    box-sizing: border-box;
    background: #FFF;
}
.products_tab .owl-nav .owl-prev{
    right:50px;
}
.products_tab .owl-nav .owl-next{
       right: 20px;
}
/*.owl-carousel:hover .owl-prev,.owl-carousel:hover .owl-next{
    opacity: 1;
}*/
.products_tab .owl-nav .owl-prev:hover {
    background: var(--extra-color);
    color: white;
    opacity: 1;
    transition: all .5s ease;
}
.products_tab .owl-nav .owl-next:hover {
    background: var(--extra-color);
    color: white;
    opacity: 1;
    transition: all .5s ease;
}
.slideshow-home .slideshow-home-title {
    padding: 15px 20px;
}
.slideshow-home .slideshow-home-title span {
    color: #ff2a00;
    font-size: 16px;
    text-transform: uppercase;
}
.products_tab_wrapper  {
}
.caroufredsel_wrapper {
}
.slideshow-home .carousel {
}
.slideshow-home .slideshow-home-prev, .slideshow-home .slideshow-home-next {
    display: block !important;
    height: 36px;
    position: absolute;
    top: 36%;
    width: 12px;
}
.slideshow-home .slideshow-home-prev {
    background: rgba(0, 0, 0, 0) url("../images/icon-prev.png") no-repeat scroll 0 0;
    left: 10px;
}
.slideshow-home .slideshow-home-next {
    background: rgba(0, 0, 0, 0) url("../images/icon-next.png") no-repeat scroll 0 0;
    right: 10px;
}
@media screen and (max-width:668px){
    .slideshow-home-item > p{
        display: none;
    }
    .slideshow-home-item > p.shiped {
        display: block;
    }
    
    .products_tabs .tab_title li{
        display: none;
    }
    .products_tabs .tab_title li:first{
        display: block;
    }
}