.tesimonials_home .customer {
    margin-bottom: 30px;
}
.news_home {
	padding: 20px;
	background: #fff;
}
.tesimonials_home .customer img {
    border-radius: 50%;
    margin-right: 16px;
}

.tesimonials_home  .customer .name {
    color: #0183BF;
        margin-bottom: 10px;
}
.tesimonials_home .customer .description {
    font-size: 13px;
}