/*begin partners*/
.partners {
	padding: 20px 0 20px 0;
	background: #ededed;
}

.partners .title {
	height: 33px;
	background: url(../images/user2.png) no-repeat left;
	padding-left: 45px;
	font-size: 24px;
	color: #333;
	font-weight: bold;
	margin-bottom: 20px;
}

.partners .title p {
	float: right;
	width: 35px;
	height: 35px;
	margin-left: 10px;
	cursor: pointer;
}

.partners .title .next {
	background: url(../images/next.png);
}

.partners .title .next:hover {
	background: url(../images/next-h.png);
}

.partners .title .prev {
	background: url(../images/prev.png);
}

.partners .title .prev:hover {
	background: url(../images/prev-h.png);
}

.partners .owl-carousel {
	/*max-height: 140px;*/
}

.partners .owl-stage {
	padding-bottom: 2px;
}

.partners .item {
	border-radius: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

.partners .item img {
	border-radius: 10px;
	border: 1px solid #cecece;
	width: 100%;
}
/*end partner */