.products-vertical{
    .block_title{
        padding-left: 0;
        font-size: 15px;
        line-height: initial;
        font-family: 'helveticaneuebold';
        margin-bottom: 20px;
        &:before {
            display: none;
            
        }
    }
    ul{
        li{
             margin-bottom: 20px;
            .frame_img_cat {
               float: left;
                margin: 0 12px 5px 0;
                padding: 5px;
                width: 34%;
                box-sizing: border-box;
                overflow: hidden;
               position: relative;
            }
            
            a{
                display: block;
                max-height: 57px;
                overflow: hidden;
                color: #2c2d2e;
                font-family: "helveticaneuemedium";
                &:hover{
                    text-decoration: underline;
                      color: #af2a4a;
                }
            }
            .price {
                color: #AF2A4A;
                font-size: 15px;
                font-family: "helveticaneuemedium";
            }
            &:hover{
                .frame_img_cat {
                    img{
                       -moz-transform: scale(1.25);
                        -webkit-transform: scale(1.25);
                        -o-transform: scale(1.25);
                        -ms-transform: scale(1.25);
                        transform: scale(1.25);
                        transition: all .3s ease-out;
                    }
                }
                a{
                     color: #af2a4a;
                }
            }
        }
    }
}
