.page_title {
    position: relative;
    margin-bottom: 13px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #d6d6d6;
}
#gallery,.prodetails_tab{
        margin-top: 20px;
}
.rate i {
    width: 14px;
    height: 14px;
    display: inline-flex;
    font-size: 17px;
    margin-right: 3px;

}
.fa-star{
   
   
        width: 16px;
    
}
.rate .fa-star-o {
    svg {
        width: 16px;
    }
   color: #CCC;
}
.rate .star_on {
    background-position: -377px -2px;
}
.summary{
        margin-top: 20px;
    line-height: 24px;
  }