.list-images{
  display: flex;
  flex-wrap: wrap;
  margin:0px -10px;
   @media only screen and (max-width:500px){
      margin:0px -5px;
   }
  .item{
        width: calc(33.33% - 20px);
    margin: 10px 10px;
    position: relative;

    @media only screen and (max-width:500px){
       width: calc(50% - 10px);
    margin:0px 5px;
    }
    &::after {
    content: "";
    position: absolute;
    top: 54%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.76), rgba(0,0,0,0.75), #0000004f, transparent);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.88), rgba(0,0,0,0.62), transparent, rgba(255,255,255,0));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.88), rgba(0,0,0,0.62), transparent, rgba(255,255,255,0));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.88), rgba(0,0,0,0.62), transparent, rgba(255,255,255,0));
    background-image: linear-gradient(bottom, rgba(0,0,0,0.88), rgba(0,0,0,0.62), transparent, rgba(255,255,255,0));
    -moz-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    z-index: 0;
    visibility: hidden;
    opacity: 1;
    visibility: visible;
}
  }
 .frame_right{
          position: absolute;
    bottom: 0px;
    padding: 6px;
    text-align: center;
    z-index: 9;
    a{
          color: #fff;
    font-size: 17px;
    }
 }
}
 .page_title {
        margin-bottom: 20px;
  }
  