.detail_inner_l{
    width: 55%;
    float: left;
    @media all and (max-width:800px) {
        width: 100%;
        float: none;
        margin-bottom: 25px;
    }
}

.detail_inner_r{
    width: calc(45% - 20px);
    float: right;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    @media all and (max-width:800px) {
        width: 100%;
        float: none;
        margin-bottom: 25px;
        padding: 20px 10px;
    }
    h1{
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }
}

#buy-type {
    text-align: center;
    margin-bottom: 15px;
    .btn-buy {
        text-align: center;
        padding: 5px;
        border-radius: 4px;
        transition: all .3s ease;
        border: solid 1px #ddd;
        display: inline-block;
        width: 240px;
        margin: 0 2px;
        color: #666;
        b {
            text-transform: uppercase;
            font-size: 16px;
            display: block;
        }
    }

    .btn-buy.active,.btn-buy:hover{
        border-color: var(--blue-color);
        color: var(--blue-color);
    }
}


#form-login{
    background: #fff;
    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .btn-login {
        width: 112px;
        font-size: 1em;
        color: #fff;
        padding: 0;
        transition: all .2s ease;
        

        i {
            width: 33px !important;
            height: 33px !important;
            display: block;
            float: left;
            line-height: 33px;
            border-right: solid 1px #8c8c8c;
            position: relative;
            svg{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        span {
            padding: .375rem 0;
            display: block;
        }
    }

    .fb {
        background: #3b5998;
    }
    .go {
        background: #df4a32;
    }
    .zl {
        background: #0f8edd;
    }

    .btn-primary {
        color: #fff;
        background-color: #d9282f;
        border-color: #d9282f;
        width: 100%;
        cursor: pointer;
    }
    .form-login{
        padding: 0px 1rem 1rem;
        .form-control{
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            box-sizing: border-box;
        }
    }
}

.title-box-cart{
    line-height: 40px;
    background-color: var(--main-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px;
    color: #fff;
    margin-bottom: 10px;
}
#eshopcart_info{
    .sex{
        background: #fff;
        padding: 15px;
        label {
            margin-bottom: 0;
            margin-right: 30px;
            display: inline-block;
        }

    }



    .input_text{
        display: block;
        width: calc(100% - 10px);
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        box-sizing: border-box;
        margin: 5px;
    }
    .input_text_50{
        width: calc(50% - 10px);
        @media all and (max-width:500px) {
            width: 100%;
        }
    }

    .input_text_33{
        width: calc(33.333% - 10px);
        @media all and (max-width:500px) {
            width: 100%;
        }
    }

    .box-input{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin-bottom: 30px;
        @media all and (max-width:500px) {
            padding: 5px;
        }
    }

}

#tax-invoice {
    border: solid 1px #ddd;
    background: #fbfbfb;
    margin: 20px 0px;
    padding: 15px;
}

.all-button-cart{
    .back-home{
        text-transform: uppercase;
        font-size: 14px;
        color: var(--main-color);
        font-weight: bold;
        padding-top: 9px;
        display: inline-block;
        position: relative;
        padding-left: 30px;
        svg{
            height: 20px;
            width: 20px;
            fill: var(--main-color);
            position: absolute;
            left: 0px;
            top: 7px;
        }
        @media all and (max-width:500px) {
            span{
                display: none;
            }
        }
    }
    .button-submit{
        background: var(--main-color);
        color: #fff;
        padding: 7px 20px;
        font-size: 15px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        border: solid 1px var(--main-color);
        display: inline-block;
        cursor: pointer;
        float: right;
        text-transform: uppercase;
    }
}

.checkbox, .radio {
    display: inline-block;
}

.checkbox input, .radio input {
    display: none;
}



.checkbox input:checked ~ .icon {
    background:var(--main-color);
    border-color:var(--main-color);
    position:relative;
}

.checkbox input:checked ~ .icon:before{
    content: '';
    display: inline-block;
    line-height: 13px;
    width: 13px;
    height: 13px;
    font-size: 11px;
    color: #ffffff;
    position: absolute;
    left: 0;
    font-weight: normal;
    background: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 515.556 515.556" height="13px" viewBox="0 0 515.556 515.556" width="13px"><path d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z"/></svg>');
    background-repeat: no-repeat;
}


input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.checkbox .icon, .radio .icon {
    height: 13px;
    width: 13px;
    background: #fff;
    border: solid 2px #ddd;
    display: inline-block;
    border-radius: 2px;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
    margin-top: -3px;
}


.checkbox input:checked ~ .icon:before, .radio input:checked ~ .icon:before {
    display: inline-block;
    line-height: 13px;
    height: 13px;
    font-size: 11px;
    color: #ffffff;
    position: absolute;
    left: 0;
    font-weight: normal;
}

.sex .radio input:checked ~ .icon {
    border-color: var(--main-color);
}

.sex .checkbox input:checked ~ .icon:before, .radio input:checked ~ .icon:before {
    display: inline-block;
    line-height: 13px;
    height: 13px;
    font-size: 11px;
    color: #ffffff;
    position: absolute;
    left: 0;
    font-weight: normal;
}

.sex .radio input:checked ~ .icon:before {
    background-color: var(--main-color);
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    left: 4px;
    top: 4px;
}


.radio .icon {
    border-radius: 50% !important;
    background: #ffffff;
    border: solid 2px #bbb;
    overflow: hidden;
}

.active{
    .radio .icon {
        border-color: var(--main-color) !important;
    }

    .radio .icon:before {
        background-color: var(--main-color) !important;
        content: "";
        display: inline-block  !important;
        width: 5px !important;
        height: 5px !important;
        border-radius: 50% !important;
        left: 4px !important;
        top: 4px !important;
        position: absolute !important;
    }
}




.reset-pass{
    margin-bottom: .5rem!important;
    margin-top: .5rem!important;
    a{
        color: var(--blue-color);
    }
}

.m-3{
    display: block;
    margin: 1rem!important;
}
.mb-2{
    margin-bottom: .5rem!important;
}
.fs-16 {
    font-size: 16px;
}
.shadow {
    box-shadow: 0 0 8px #ddd !important;
}

.overflow-hidden {
    overflow: hidden!important;
}

.text-center {
    text-align: center!important;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: .75em 0;
}



#tax-form{
    table{
        display: none;
    }
    
}




    .table-wrap{

        .row-table{
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid #eee;
            @media all and (max-width: 500px) {
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 100px;
                padding-bottom: 30px;
                line-height: 22px;
                padding-top: 10px;
            }
            .col-td{
                width: 100px;
                padding: 10px 8px 5px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                .price{
                    display: block;
                    font-weight: bold;
                    color: #df4a32;
                    font-size: 16px;
                    margin-bottom: 10px;
                    @media all and (max-width: 500px) {
                        font-size: 15px;
                        margin-bottom: 5px;
                    }
                }
                &:nth-child(1){
                    text-align: center;
                    @media all and (max-width: 500px) {
                        text-align: center;
                        position: absolute;
                        left: 0px;
                        padding: 10px 0px;
                    }
                    img{
                        width:90px;
                    } 
                }
                &:nth-child(2){
                    width: calc(100% - 200px);
                    @media all and (max-width: 500px) {
                        width: 100%;
                        padding: 0px 0px 0px 5px;
                    }
                }
                &:last-child{
                    border-right: none;
                    @media all and (max-width: 500px) {
                        border-right: none;
                        width: 120px;
                        padding-top: 0px;
                        padding: 0px 0px 0px 5px;
                    }
                }

                .name-item{
                    display: block;
                    font-weight: bold;
                }
                .string_info_extent{
                    font-size: 12px;
                }
                .del-item{
                    color: #626262;
                    position: relative;
                    padding-left: 20px;
                    margin-top: 3px;
                    display: inline-block;
                    svg{
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        left: 0px;
                    }
                }
            }
            
            .col-td-number{
                /* Chrome, Safari, Edge, Opera */
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }

                /* Firefox */
                input[type=number] {
                  -moz-appearance: textfield;
                }
                .error-number-item{
                    color: red;
                }
                .btn-minus,.btn-plus{
                    width: 27%;
                    height: 36px;
                    display: block;
                    border: 1px solid #d8d7d7;
                    text-align: center;
                    box-sizing: border-box;
                    font-size: 20px;
                    padding-top: 6px;
                    cursor: pointer;
                    
                }
                .btn-minus{
                    float: left;
                    border-right: 0px;
                    border-radius: 3px 0px 0px 3px;
                }
                .btn-plus{
                    float: left;
                    border-left: 0px;
                    border-radius: 0px 3px 3px 0px;
                }

                .numbers-pro{
                    text-align: center;
                    width: 46%;
                    height: 36px;
                    padding: 2px 10px;
                    border: 1px solid #d8d7d7;
                    color: #333;
                    display: block;
                    box-sizing: border-box;
                    margin-right: 0px;
                    float: left;
                }
            }
            
           
        }
    }

// }

.payment-type{
    background: #fff;
    padding: 25px 20px 18px;
    border: 1px solid #eee;
    margin-bottom: 25px;
    @media all and (max-width: 500px) {
        padding: 15px 10px 10px;
    }
    .container-rd {
       display: block;
        position: relative;
        margin-bottom: 12px;
        cursor: pointer;
        /* font-size: 22px; */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default radio button */
    .container-rd input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        left: 0px;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: -2px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container-rd:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container-rd input:checked ~ .checkmark {
      background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container-rd input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the indicator (dot/circle) */
    .container-rd .checkmark:after {
        top: 7px;
        left: 7px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: white;
    }
}



.total-card-code{
    .note{
        font-size: 12px;
        color: #d9282f;
        margin-top: 7px;
    }
    .card_code {
        margin-top: 20px;
        input {
            width: calc(100% - 130px);
            float: left;
            border: 1px solid #eee;
            /* border-radius: 4px; */
            line-height: 36px;
            padding: 0 10px;
            box-sizing: border-box;
            border-right: 0px;
        }
    }
    .ship-total{
        margin-top: 20px;
        .total-mn,.cart-code-mn{
            font-size: 14px;
            margin-bottom: 10px;
        }
        .ship-mn{
            padding-bottom: 14px;
            border-bottom:1px solid #eee;
            margin-bottom: 10px;
        }
        .total-price-inner{
            font-size: 15px;
            color: #d9282f;
        }
        font{
            width: 180px;
            display: inline-block;
            float: left;
            text-transform: uppercase;
        }
        span{
            width: calc(100% - 180px);
            float: left;
        }
    }
}


.resubmit_form{
    border: none;
    background: #f6f6f6;
    line-height: 38px;
    width: 130px;
    text-align: center;
    float: right;
    cursor: pointer;
    &:hover{
        background: #C90008;
        color:#fff;
    }
}


.no-product-cart{
    a{
        color: var(--blue-color);
    }
}


.list_bankings{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 15px;
    border: 1px solid #ddd;
    padding: 10px;
    display: none;
    .item{
        width: calc(50% - 20px);
        margin: 0px 10px 10px;
    }
}

#addess_books{
    width: calc(100% - 10px);
    margin: 5px;
    select{
        border: 1px solid #ced4da;
        border-radius: .25rem;
        height: 38px;
        padding: 10px 12px;
        width: 200px;
    }
}

#massage_voucher{
    margin-top: 5px;
    color: #288ad6;
}

#distance_form{
    width: 160px;
    height: 38px;
    background: #288ad6;
    border: none;
    color: #fff;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.gift_price_next{
    //animation: 2s ease-in-out 1s normal none infinite running chang-color-anim;
    margin-top: 10px;
    color: var(--main-color);
    line-height: 20px;
    border: 1px dashed var(--main-color);
    padding: 7px 10px;
}

@keyframes chang-color-anim {
    0% {
        color: #0187CF;
    }
    30% {
        color: #F79606;
    }
    70% {
        color: #CD1C2C;
    }
   
}