.list_sub_cats_wrapper_sroll{
    @media all and (max-width:1050px) {
        overflow-x: auto;
    }
}

.wrapper_product_cat{

}

.filter_products_cat {
    box-sizing: border-box;
    width: 22%;
    float: left;
    margin-top: 132px;

    @media all and (max-width:1050px) {
        position: fixed;
        left: 0px;
        display: none;
        top: 0px;
        z-index: 99999;
        height: 100%;
        background: #fff;
        border-right: 1px solid #ededed;
        width: 320px;
        padding: 10px;
        overflow-y: auto;
        margin-top: 0px;
    }
}


.products-cat {
    width: calc(76% - 16px);
    float: right;
    @media all and (max-width:1050px) {
        width: 100%;
        float: none;
    }

    .list_sub_cats_wrapper{
        display: flex;
        flex-wrap: wrap;
        margin: 0px -3px 5px;
        @media all and (max-width: 1050px){
            margin: 10px -3px 15px;
        }
        
        .item{
            width: calc(100% / 10 - 6px);
            margin: 0px 3px 6px;
            padding: 4px 4px 4px;
            box-sizing: border-box;
            background: #fff;
            border: 1px solid #eee;
            text-align: center;
            border-radius: 5px;
            transition: 0.4s;
            &:hover{
                border: 1px solid var(--blue-color);
            }
            a{
                display: block;
                span{
                    margin-top: 2px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 12px;
                    line-height: 15px;
                }
            }
            img{
                min-height: 80px;
            }

            @media all and (max-width: 900px){
                width: calc(100% / 5 - 6px);
            }

            @media all and (max-width: 740px){
                width: calc(100% / 4 - 6px);
            }
            @media all and (max-width: 740px){
                width: calc(100% / 4 - 6px);
            }

            @media all and (max-width: 600px){
                width: calc(100% / 3 - 6px);
                border-radius:2px;
            }

        }

        .item-mobile{
            width:102px;
        }
    }
}
.products-cat-full {
    @media all and (min-width: 1100px){
        width: 100%;
        float: none;
        .product_grid .item {
            width: 20%;
        }
    }  
}

// .field_titlee {
//     background: #fff;
    
// }
// .products-cat-frame {
//     padding: 20px;
//     background: #fff;
//     @media all and (max-width: 1050px){
//         padding: 0px;
//     }
// }
.prodetails_tab {
    background: #fff;
    padding: 20px;
    margin-top: 30px;
    @media all and (max-width:1050px) {
        padding: 15px 0px 0px;
        margin-top: 15px;
    }
    .cat-title-main {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 14px;
        @media all and (max-width: 900px) {
            font-size: 14px;
        }
    }
}

.cat_description{
    background: #fff;
    padding: 16px 0px;
    // margin-top: 25px;
    font-size: 15px;
    line-height: 24px;

    // h2,h3{
    //     font-weight: bold;
    //     font-size: 16px;
    // }
    a{
        color: #e74c3c;
    }
    h2{
        font-size: 22px;
        font-weight: bold;
        color: #126f38;
    }
    h3{
        font-size: 18px;
        font-weight: bold;
        color: #126f38;
    }
    h2,h3,h4,p,ul {
        margin-bottom: 10px;
        // line-height: 20px;
    }
    img{
        max-width: 100%;
        height: auto !important;
    }
    ul{
        li{
            margin-left: 30px;
            list-style: initial;
        }
    }

}

.news_related_vertical {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    @media all and (max-width: 600px) {
        margin: 0 -5px;
    }
    .item-related {
        width: calc(25% - 20px);
        float: left;
        margin: 0 10px 20px;
        .img_a{
            display: grid;
            min-height: 125px;
            @media all and (max-width: 900px) {
                min-height: 100px;
            }
            @media all and (max-width: 380px) {
                min-height: 80px;
            }
        }
        
        @media all and (max-width: 600px) {
            width: calc(50% - 10px);
            margin-bottom: 10px;
            margin: 0 5px 10px;
        }
        .time {
            margin-top: 5px;
            font-size: 13px;
            color: #909090;
        }
        .title-item-related {
            margin-top: 2px;
            a 
            {                
                font-weight: bold;
                font-size: 14px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

}

.field_title{
    position: relative;
    margin-bottom: 10px;
    width: 260px;
    float: right;
    @media all and (max-width: 1050px) {
        width: 100%;
        float: none;
    }
}


.banner_cat {
    margin-bottom: 10px;
    // margin-top: 20px;
    @media all and (max-width: 768px) {
        margin-bottom:0;
    }
    figure {
        width: calc(50% - 20px);
        margin: 0 10px;
        float: left;
        img {
            width: 100%;
        }
    }
}

.cat-title {
    background: #fff;
    @media all and (max-width: 1050px) {
        padding: 0px;
    }
    
    h1{
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
        margin-top: 8px;
        float: left;
        @media all and (max-width: 600px) {
            margin-top: 9px;
            font-size: 14px;
        }
    }
    .count-list-cat{
        float: left;
        margin-left: 5px;
        margin-top: 7px;
        span{
            font-weight: bold;
            color: var(--main-color);
        }
        @media all and (max-width: 600px) {
            display: none;
        }
    }
}

.block-left-cat-product{
    margin-top: 50px;
}


.order-text-pc{
    float: right;
    margin-top: 5px;
    margin-right: 8px;
}
.order-select{
    float: right;
    a{
        display: inline-block;
        margin-left: 25px;
    }
    .active{
        background: var(--main-color);
        color: #fff;
        border: 1px solid transparent;
    }
    @media all and (max-width: 950px) {
        float: right;
        position: absolute;
        right: 0px;
        top: 41px;
        background: #fff;
        z-index: 2;
        padding: 10px 10px 6px;
        border: 1px solid #ededed;
        display: none;
        a{
            display: block;
            margin: 0px 0px 5px;
        }
    }
}

.order-select-pc{
    .type-icon{
        display: none;
    }
    @media all and (max-width: 950px) {
        .type-txt{
            display: none; 
        }
        .type-icon{
            display: block;
        }
       
    }
}

.order-select-text-mobile,.order-select-mobile{
    display: none;
    // @media all and (max-width: 900px) {
    //    display: block; 
    // }
}
.order-select-mobile{
    width: 86px;
    float: right;
    /* margin-top: 5px; */
    padding-top: 6px;
    padding: 6px 0px 0px;
    border:none;
}



.cat_summary{
    margin-top: 4px;
    border: 1px solid #EEE;
    padding: 15px;
    background: #fff;
    margin-bottom: 20px;

    @media all and (max-width: 600px) {
        margin-top: 10px;
        margin-bottom: 10px;
        max-height: 165px;
        overflow-y: auto;
    }
    .banner_cat_summary{
        float: right;
        max-width: 30%;
        margin-left: 20px;
    }
}
.choosedfilter{
    width: calc(100% - 240px);
    float: left;
    @media all and (max-width: 1050px) {
        width: 100%;
        float: none;
    }
    a{
        background: var(--main-color);
        color: #FFF !important;
        margin: 0px 10px 12px 0;
        padding: 5px 24px 5px 9px;
        // border-radius: 3px;
        display: inline-block;
        position: relative;
        font-size: 12px;
        @media all and (max-width: 600px) {
            // margin: 3px;
        }
        &:after {
         content: 'X';
         position: absolute;
         top: 5px;
         right: 2px;
         width: 15px;
         height: 13px;
         color: #FFF;
         z-index: 1;
         font-size: 12px;
     }
 }
 .reset{
    background: red;
}
}
.summary_content{
    font-size: 14px;
    line-height: 22px;
    p{
        margin-bottom: 12px;
        line-height: 22px;
        &:last-child{
            a{
                text-decoration: underline;
                margin-right: 11px;
            }
        }
    }
    h2{
        font-size: 22px;
        font-weight: bold;
        color: #126f38;
    }
    h3{
        font-size: 18px;
        font-weight: bold;
        color: #126f38;
    }
    a{
        color: #e74c3c;
        &:hover {
            color: #e74c3c;
        }
    }
}
@media screen and (max-width:550px){
	.field_title select {
//     display: none;
}
.banner_cat_summary{
    display: none;
}
}
.list_cat_soon_wrapper {
    padding: 0 20px;
}
.list_cat_soon {
    margin-bottom: 20px;
    position: relative;
    @media all and (max-width: 600px) {
        margin-bottom: 0px;
    }
    .item_cat_s {
        text-align: center;
        a {
         color: #fff;
         display: inline-block;
         padding: 10px 10px;
         box-sizing: border-box;
         width: 100%;  
         background: var(--extra-color);
         border-radius: 4px;
         transition: 0.5s; 
         &:hover {
            background: #f0ba2b;
        } 
    } 
}
.actived {
    a {
        background: #f0ba2b;
    }

}
.item-block {
    width: calc(100% / 7 - 10px);
    margin: 0 5px;
    float: left;
    @media all and (max-width: 600px) {
        width: calc(100% / 2 - 10px);
    }
}

.owl-nav {
 div {
    position: absolute;
    top: calc(50% - 18px);
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 50%;
    color: var(--extra-color);
    // background: #fff;
    text-align: center;
    font-size: 30px;
    // box-shadow: 0 1px 11px #8a8a8a66;
    padding: 6px 0 3px 4px;
}
.owl-prev {
    left: -30px;
}
.owl-next {
    right: -30px;
}
}

}

.relate_videos{
    background: #fff;
    padding: 20px 20px 0px;
    margin-top: 30px;
    @media all and (max-width: 1050px) {
        padding: 15px 0px 0px;
        margin-top: 15px;
    }
    .relate_videos_title{
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 14px;
    }
    
    .item{
        width: calc(100% / 3 - 20px);
        margin: 0px 10px 20px;
        .image{
            position: relative;
            min-height: 181px;
            a{
                display: grid;
            }
            svg{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                fill: #fff;
            }
            @media all and (max-width: 800px) {
                min-height: 130px;
            }
            @media all and (max-width: 430px) {
                min-height: 96px;
            }
        }
        .name{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 4px;
            font-weight: bold;
        }
        @media all and (max-width: 736px) {
            width: calc(100% / 2 - 20px);
            margin: 0px 10px 20px;
        }

        @media all and (max-width: 430px) {
            width: calc(100% / 2 - 10px);
            margin: 0px 5px 10px;
        }
        
    }
    .relate_videos_all{
        margin: 0px -10px;
        display: flex;
        flex-wrap: wrap;
        @media all and (max-width: 600px) {
            margin: 0px -5px;
        }
    }
}

.manu_products_special{
    background: #fff;
    margin-bottom: 30px;
    padding: 20px 20px 5px 20px;
    .cat_label .manu_products_special_name{
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 9px;
        display: block;
        @media all and (max-width: 900px) {
           font-size: 14px;
        }
    }
    @media all and (max-width: 1050px) {
        margin-bottom: 15px;
        padding: 0px;
    }
}



.popup-video-full{
    position: fixed;
    z-index: 22222222;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000000f2;
    display: none;
    
    .content-video{
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 500px){
        iframe{
            max-width: 100%;
            height: 242px;
        }
    }
    .video{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 900px){
            width: 100%;
        }
    }
    .close{
        float: right;
        color: #ffff;
        font-size: 22px;
        padding: 10px;
        cursor: pointer;
    }
}


.block_products_filter_mobile_tt{
    font-size: 14px;
    text-transform: uppercase;
    margin: 20px 0px;
    display: none;
    @media screen and (max-width: 500px){
        display: block;
    }
    @media screen and (max-width: 345px){
        font-size: 12px;
    }
    .filter-mobile-click{
        width: calc(50% - 5px);
        float: left;
        position: relative;
        padding-left: 30px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        padding: 10px 10px 10px 39px;
        font-family: LexendLight;
        svg{
            position: absolute;
            left: 7px;
            top: 7px;
        }
    }
    .order-select-mb{
        width: 50%;
        float: right;
        position: relative;
        font-family: LexendLight;
        .order-select{
            width: 100%;
            box-sizing: border-box;
            z-index: 3;
        }
    }
    .order-text{
        box-sizing: border-box;
        border: 1px solid #ddd;
        padding: 10px 10px 10px 39px;
        position: relative;
        .type-icon{
            position: absolute;
            left: 8px;
            top: 8px;
        }
    }
}
.block_products_filter_mobile{
    margin-bottom: 20px !important;
}

.filter_icon{
    display: none;
    float: right;
    margin-right: 15px;
    svg{
        width: 23px;
        height: 23px;
    }
    @media screen and (max-width: 1050px){
        display: inline-block;
        padding-top: 4px;
        float: left;
    }
}
.rotate180{
    transform: rotate(180deg);
    margin-top: -3px;
}


.display_off_mb{
    @media screen and (max-width: 500px){
        display: none !important;
    }
}


.title_h1{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 38px;
    margin-bottom: 16px;
    @media screen and (max-width: 768px){
        margin-top: 24px;
        font-size: 20px;
    }
}

.summary_cat{
    line-height: 23px;
    margin-bottom: 28px;
}


.aq_relates{
    margin: 40px auto;
    width: 900px;
    @media screen and (max-width: 1024px){
        margin: 30px auto;
        width: 100%;
    }
    .title_delectech_block{
        text-align: center;
    }
    .aq-block-body{
        background: #fff;
    }
}


.vm_summary_content_cat{
    text-align: center;
    span{
        cursor: pointer;
        display: inline-block;
        padding: 4px 28px;
        border: 1px solid var(--main-color);
        color: var(--main-color);
    }
}

.height_auto{
    height: auto !important;
}
.summary_content_cat{
    margin-bottom: 40px;
    line-height: 25px;
    height: 250px;
    overflow-y: hidden;
    position: relative;
    a{
        color: #3a70f1;
    }
    @media screen and (max-width:768px){
        margin-bottom: 35px;
    }

}
