.cat_item_store{
    background: #fff;
    margin-bottom: 25px;
    padding: 40px 20px 20px;
    .cat_label{
        text-align: center;
        a{
            font-size: 25px;
            text-transform: uppercase;
          @media only screen and (max-width: 700px){
              font-size: 18px;
          }
        }
    }

    @media only screen and (max-width: 1260px){
      padding: 30px 0px 0px;
    }

        
}

.view_all_cat_item {
    text-align: center;
    margin-top: 10px;
    a{
        display: inline-block;
        color: red;
        padding: 5px 0px;
        border: 1px solid red;
        width: 230px;
        border-radius: 3px;
    }
}

.product_star {
  text-align: center;
  margin-bottom: 15px;
  @media only screen and (max-width: 480px) {
    margin-bottom: 15px;
  }
}
.line-thought {
  border-top: 1px solid #DBDBDB;
  width: 32px;
  height: 3px;
  display: inline-flex;
  margin: 0 10px;
}   
.star_small {
 color: #B7B7B7;
 line-height: 54px;
 display: inline-flex;
 transform: translate(0, 1px);
 transform: translate(0, 6px) scale(0.5)
}
.star_large {
  color: #B7B7B7;
  line-height: 54px;
  display: inline-flex;
  /* height: 25px; */
  transform: translate(0, 5px) scale(0.8);
}

.star_large .fa-star {
  width: 22px;
  height: 22px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24"><path fill="silver" stroke="transparent" stroke-width="0" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>\a</svg>')
}
.star_small .fa-star {
  width: 22px;
  height: 22px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24"><path fill="silver" stroke="transparent" stroke-width="0" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>\a</svg>')
}