.main-content-top{
	margin-bottom: 20px;
}
.price_old{
	color: #CCC;
    text-decoration: line-through;
}
.price{
   color: #ED1C24;
   font-weight: 500;
}
.creadonly {
    background: #eee !important;
}
.resubmit_form{
    border: none;
    background: #f6f6f6;
    line-height: 38px;
    width: 130px;
    text-align: center;
    float: right;
    cursor: pointer;
    &:hover{
        background: #C90008;
        color:#fff;
    }
}
.sub-re-cal{
    cursor: pointer;
    border: none;
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-left: 3px;
}
.main-content-top{
    margin-bottom: 20px;

}
.price_old{
    color: #a7a7a7;
    text-decoration: line-through;
    display: block;
}
.price{
    color: #ED1C24;
    font-weight: bold;
    display: block;
}
.all-button-cart{
    padding: 15px 20px 15px 0px;
}

.button-cart {
    background: var(--main-color);
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    color: #4A4E51;
    cursor: pointer;
    border: none;
    padding: 12px 22px;
    color: #FFF;
    margin-right: 10px;
    float: left;
    width: 170px;
    box-sizing: border-box;
    &:nth-child(2){
        float: right;
        background: #f01c24;
    }
}
.button-cart:hover {
    background: #C90008;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.total-price{
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
}
.total-price span{
    color: #ED1C24;
}
.total-price_note{
    font-style: italic;
}
.info-customer-gh input[type="text"]{
    height: 30px;
    padding: 2px 5px;
    border-radius: 4px;
    border: 1px solid #d8d7d7;
    color: #333;
    width: 300px;
    max-width: 100%;
}
.info-customer-gh textarea{
    padding: 2px 5px;
    border-radius: 4px;
    border: 1px solid #d8d7d7;
    color: #333;
    width: 300px;
    max-width: 100%;
    height: 68px;
}
#products-cart{
    background: #fff;
    margin-bottom: 20px;
}


#products-cart .tab-info-oder span{
    font-weight: bold;
}
#products-cart .frame-large-body table {
    border-collapse: collapse;
    margin-bottom: 10px;
}
.frame-large-body table, 
.frame-large-body td,
.frame-large-body th {
    border: 1px solid #f1f1f1;
}

#products-cart .frame-large-body td {
    color: #333;
    padding: 15px;
}
.table-product-pack .name-product img{
    @media only screen and (max-width:600px){
        display: none;
    }
}
#products-cart .frame-large-body .title-img{
    float: left;
    padding-right: 15px;
    width: 100px;
}
#products-cart .frame-large-body .title-name {
    float: left;
    padding-top: 18px;
    width: calc(100% - 120px);
}
#products-cart .frame-large-body .title-name .name{
    color: #af2a4a;
    margin-bottom: 8px;
    font-weight: normal;
}
#products-cart .frame-large-body .title-name p{
    color: #666;
    margin-bottom: 5px;
}
#products-cart .frame-large-body .title-name span{
    color: #333;
}
#products-cart .frame-large-body td input{
    width: 50px;
    padding: 5px;
}
#products-cart .frame-large-body td a.delete {
    background: url("../images/icon-delete.png") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}
#products-cart .frame-large-body td a.delete:hover {
    background: url("../images/icon-delete-hover.png") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}
#products-cart .frame-large-body .bottom{
    float: right;
}
#products-cart .frame-large-body .bottom a{
    background: #e4e4e4;
    color: #333;
    font-size: 16px;
    padding: 7px 15px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
#products-cart .frame-large-body .bottom a.bottom-up{
    background: #af2a4a;
    color: #fff;
}
#products-cart .frame-large-body .bottom a:hover{
    background: #4db0eb;
    color: #fff;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
}
#products-cart .frame-large-body .bottom p{
    color: #333;
    // font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    display: table;    
    margin-bottom: 3px;
}
#products-cart .frame-large-body .bottom span{
 display: table-cell;
 font-size: 16px;
}
#products-cart .frame-large-body .bottom span:first-child{      
  width: 100px;
  text-align: left;
}
#products-cart .frame-large-body .bottom span:last-child{
    color: #ED1C24;

}
#products-cart .frame-large-body .bottom p:last-child span:last-child{
 font-weight: bold;
}



#products-cart .products-cart-info .form-item-pay{
    margin-left: 5%;
    display: none;
}
#products-cart .products-cart-info .form-item-order{
 margin-left: 5%;
 display: none;
}
#products-cart .products-cart-info .title-steps{
 color: #333;
 font-weight: normal;
 text-transform: uppercase;
 margin-bottom: 15px;
 font-size: 17px;
}
#products-cart .products-cart-info .tabl-info-customer .customer-item{
    margin-bottom: 10px;
}

#products-cart .form-item-customer input,
#products-cart .form-item-customer select {
    background: #f8f8f8;
    width: 96%;
    padding: 8px 2%;
    border: 1px solid #d3d3d3;
    box-shadow: 1px 1px 3px 0px #e1e1e1 inset;
    color: #777;
    margin-bottom: 12px;
}
#products-cart .shopping_buyer_saller select {
    width: 18%;
    float: left;
    padding: 7px 3px;
}
#products-cart .shopping_buyer_saller #sender_name {
    width: 73%;
    float: right;
}
#products-cart .products-cart-info .form-item-pay span{
    color: #333;
    font-family: "Myriad";
    font-size: 14px;
}
#products-cart .form-item-pay .item-pay {
    margin-bottom: 10px;
}
#products-cart .products-cart-info .form-item-pay p{
    color: #555;
    font-family: "Roboto";
    font-size: 13px;
    padding-left: 19px;
}
#products-cart .form-item-pay input{
    margin-right: 5px;
    float: left;
    margin-top: 4px;
}
#products-cart .form-item-pay .item-pay-img{
    padding-left: 19px;
    margin-top: 4px;
}
#products-cart .form-item-order p{
    color: #555;
    font-family: "Roboto";
    font-size: 13px;
}
#products-cart .form-item-order .botton-order{
    background: #af2a4a;
    color: #fff;
    font-family: "RobotoMedium";
    font-size: 14px;
    width: 100%;
    float: left;
    text-align: center;
    padding: 8px 0;
    text-transform: uppercase;
    margin-top: 27px;
}
#products-cart .form-item-order .botton-order:hover{
    background: #4db0eb;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
}
#products-cart .frame-large-body-mobile{
    display: none;
}
#products-cart .frame-large-body-mobile .list-product-oder{
    border: 1px solid #cfcfcf;
    margin-bottom: 5px;
}
#products-cart .frame-large-body-mobile .title-img {
    padding: 10px;
}
#products-cart .frame-large-body-mobile .title-name {
    float: left;
    padding-top: 10px;
}
.sale_alert{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
}
.total_shopcart_gifts{

    box-sizing: border-box;
    padding: 0 15px;
    position: relative;
}
.total_shopcart_gifts .gift {
    float: left;
    
    text-align: center;
}
.total_shopcart_gifts .gift .gift_inner {
    max-width: 170px;
    margin: 10px auto;
    position: relative;
    cursor: pointer;
}
.total_shopcart_gifts .gift h2 {
    font-size: 15px;
    font-weight: normal;
}
.total_shopcart_gifts .gift .img-responsive {
    width: 150px;
    display: initial;
}
.select_gift_icon {
    background: url(../images/select_gift.png) center center no-repeat rgba(6, 132, 206, 0.4);
    /* padding: 10px; */
    width: 85px;
    height: 85px;
    position: absolute;
    top: 51px;
    left: calc(50% - 32px);
    border-radius: 50%;
    display: none;
}
.gift_inner:hover .select_gift_icon, .gift.selected .select_gift_icon {
    display: block;
}

.info-customer-gh tr td{
    position: relative;
}

/****** LOGIN IN CART***/
.form_label {

    font-size: 1.5em;
    margin-bottom: 5px;
    font-weight: bold;
}
.form_desc{
   margin-top: 20px;
   margin-bottom: 12px;
}
.tr{
    display: table;
    margin-bottom: 10px;
    .td_label{
        display: table-cell;
        width: 150px;
        @media screen and (max-width: 450px){
            display: block;
            width: 100%;
            float: none;
        }
    }
    .td_value{
        display: table-cell;
        position: relative;
        .input_text{
            height: 30px;
            padding: 2px 5px;
            border-radius: 4px;
            border: 1px solid #d8d7d7;
            color: #333;
            width: 300px;
            max-width: 100%;
        }
        @media screen and (max-width: 450px){
            display: block;
            position: relative;
        }
    }
}

.login_form{
    margin-top: 15px;

    button{
     background: #AF2A4A;
     border: none;
     color: #FFF;
     padding: 4px 24px;
     border-radius: 4px;
     text-transform: uppercase;
     &:hover{
        background: #C90008;
    }
}
.other_task span{
    padding: 0 15px;
    color: #e2e2e2;
}
}
/****** end LOGIN IN CART***/
@media screen and (max-width: 768px){
    #products-cart {
        padding: 10px;
    }
    #products-cart .frame-large-body {
        margin-bottom: 20px;
    }
    #products-cart .products-cart-info .form-item {
        width: 100%;
        margin: 0px 0px 10px;
    }
    .name-product{
        min-width: 120px;
    }
}
@media screen and (max-width: 668px){
    #products-cart .frame-large-body table{
        display: none;
    }
    #products-cart .frame-large-body-mobile{
        display: block;
    }
    #products-cart .frame-large-body-mobile .title-name span.price{
        color: #af2a4a;
    }
}

@media screen and (max-width: 500px){
    .table-wrap{
        overflow-x: scroll;
    } 
}
@media screen and (max-width: 450px){
    .button-cart {       
        padding: 8px 3px;       
        margin-right: 7px;       
    }
    
}




.pull-left{
	float: left;
}
.pull-right{
	float: right;
}

.total-price span{
   color: #252525;
}
.total-price_note{
    font-style: italic;
}
.info-customer-gh input[type="text"]{
	height: 30px;
    padding: 2px 5px;
    border-radius: 4px;
    border: 1px solid #d8d7d7;
    color: #333;
    width: 300px;
    max-width: 100%;
}
.info-customer-gh textarea{
    padding: 2px 5px;
    border-radius: 4px;
    border: 1px solid #d8d7d7;
    color: #333;
    width: 300px;
    max-width: 100%;
    height: 68px;
}
#products-cart{
	background: #fff;
	margin-bottom: 20px;
    padding: 20px;
}

#products-cart .frame-large-body {
    margin-bottom: 40px;
    width: calc(66% - 20px);
    float: right;
    @media screen and (max-width: 990px){
        width: 100%;
        float: none;
    }
}

#products-cart .tab-info-oder {
    margin-bottom: 25px;
    font-size: 14px;
}
#products-cart .tab-info-oder span{
    font-weight: bold;
}
#products-cart .frame-large-body table {
    border-collapse: collapse;
    margin-bottom: 10px;
}
.frame-large-body table, 
.frame-large-body td,
.frame-large-body th {
    border: 1px solid #f1f1f1;
}
#products-cart .frame-large-body th,
.table-product-pack th {
    background: var(--main-color);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
}
#products-cart .frame-large-body td {
    color: #333;
    padding: 15px;
}
.table-product-pack .name-product img{
    @media only screen and (max-width:600px){
        display: none;
    }
}
#products-cart .frame-large-body .title-img{
    float: left;
    padding-right: 15px;
    width: 80px;
}
#products-cart .frame-large-body .title-name {
    float: left;
    padding-top: 18px;
    width: calc(100% - 125px);
}
#products-cart .frame-large-body .title-name .name{
    color: #af2a4a;
    margin-bottom: 8px;
    font-weight: normal;
}
#products-cart .frame-large-body .title-name p{
    color: #666;
    margin-bottom: 5px;
}
#products-cart .frame-large-body .title-name span{
    color: #333;
}
#products-cart .frame-large-body td input{
    width: 50px;
    padding: 5px;
}
#products-cart .frame-large-body td a.delete {
    background: url("../images/icon-delete.png") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}
#products-cart .frame-large-body td a.delete:hover {
    background: url("../images/icon-delete-hover.png") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}
#products-cart .frame-large-body .bottom{
    float: right;
    margin-top: 20px;
    line-height: 22px;
    @media only screen and (max-width:600px){
        float: left;
        margin-top: 10px;
    }
}
#products-cart .frame-large-body .bottom a{
    background: #e4e4e4;
    color: #333;
    font-size: 16px;
    padding: 7px 15px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
#products-cart .frame-large-body .bottom a.bottom-up{
    background: #af2a4a;
    color: #fff;
}
#products-cart .frame-large-body .bottom a:hover{
    background: #4db0eb;
    color: #fff;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
}
#products-cart .frame-large-body .bottom p{
    color: #333;
    font-size: 16px;
    text-align: left;
    display: table;    
    margin-bottom: 3px;
}
#products-cart .frame-large-body .bottom span{
 display: table-cell;
}
#products-cart .frame-large-body .bottom span:first-child{      
    width: 100px;
    text-align: left;
    font-weight: bold;
}
#products-cart .frame-large-body .bottom span:last-child{
    color: #ED1C24;


}
#products-cart .frame-large-body .bottom p:last-child span:last-child{
 font-weight: bold;
}
.products-cart-info{
    width: 34%;
    float: left;
    border: 1px solid #ededed;
    @media only screen and (max-width:990px){
        width: 100%;
        float: none;
    }
}
#products-cart .products-cart-info .title {
    font-size: 14px;
    line-height: 38px;
    padding: 0px 10px;
    margin-bottom: 15px;
    text-align: left;
    text-transform: uppercase;
    display: block;
    background: var(--main-color);
    color: #fff;
}

#products-cart .products-cart-info .form-item-pay{
    margin-left: 5%;
    display: none;
}
#products-cart .products-cart-info .form-item-order{
 margin-left: 5%;
 display: none;
}
#products-cart .products-cart-info .title-steps{
 color: #333;
 font-weight: normal;
 text-transform: uppercase;
 margin-bottom: 15px;
 font-size: 17px;
}
#products-cart .products-cart-info .tabl-info-customer .customer-item{
    margin-bottom: 10px;
}
#products-cart .products-cart-info .tabl-info-customer{
    .value{
        width: calc(100% - 90px);
        float:right;
    }
    .lable{
        width: 73px;
        float:left;
        font-weight: bold;
    }
} 


#products-cart .form-item-customer input,
#products-cart .form-item-customer select {
    background: #f8f8f8;
    width: 96%;
    padding: 8px 2%;
    border: 1px solid #d3d3d3;
    box-shadow: 1px 1px 3px 0px #e1e1e1 inset;
    color: #777;
    margin-bottom: 12px;
}
#products-cart .shopping_buyer_saller{
    padding: 0px 10px 10px;
    select {
        width: 18%;
        float: left;
        padding: 7px 3px;
    }
}
#products-cart .shopping_buyer_saller #sender_name {
    width: 73%;
    float: right;
}
#products-cart .products-cart-info .form-item-pay span{
    color: #333;
    font-family: "Myriad";
    font-size: 14px;
}
#products-cart .form-item-pay .item-pay {
    margin-bottom: 10px;
}
#products-cart .products-cart-info .form-item-pay p{
    color: #555;
    font-family: "Roboto";
    font-size: 13px;
    padding-left: 19px;
}
#products-cart .form-item-pay input{
    margin-right: 5px;
    float: left;
    margin-top: 4px;
}
#products-cart .form-item-pay .item-pay-img{
    padding-left: 19px;
    margin-top: 4px;
}
#products-cart .form-item-order p{
    color: #555;
    font-family: "Roboto";
    font-size: 13px;
}
#products-cart .form-item-order .botton-order{
    background: #af2a4a;
    color: #fff;
    font-family: "RobotoMedium";
    font-size: 14px;
    width: 100%;
    float: left;
    text-align: center;
    padding: 8px 0;
    text-transform: uppercase;
    margin-top: 27px;
}
#products-cart .form-item-order .botton-order:hover{
    background: #4db0eb;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
}
#products-cart .frame-large-body-mobile{
    display: none;
}
#products-cart .frame-large-body-mobile .list-product-oder{
    border: 1px solid #ededed;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#products-cart .frame-large-body-mobile .title-img {
    padding: 10px;
}
#products-cart .frame-large-body-mobile .title-name {
    float: left;
    padding-top: 10px;
}
.sale_alert{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
}
.total_shopcart_gifts{

    box-sizing: border-box;
    padding: 0 15px;
    position: relative;
}
.total_shopcart_gifts .gift {
    float: left;
    
    text-align: center;
}
.total_shopcart_gifts .gift .gift_inner {
    max-width: 170px;
    margin: 10px auto;
    position: relative;
    cursor: pointer;
}
.total_shopcart_gifts .gift h2 {
    font-size: 15px;
    font-weight: normal;
}
.total_shopcart_gifts .gift .img-responsive {
    width: 150px;
    display: initial;
}
.select_gift_icon {
    background: url(../images/select_gift.png) center center no-repeat rgba(6, 132, 206, 0.4);
    /* padding: 10px; */
    width: 85px;
    height: 85px;
    position: absolute;
    top: 51px;
    left: calc(50% - 32px);
    border-radius: 50%;
    display: none;
}
.gift_inner:hover .select_gift_icon, .gift.selected .select_gift_icon {
    display: block;
}
.all-button-cart input:last-child{
    margin-right: 0;
}
.info-customer-gh tr td{
    position: relative;
}

/****** LOGIN IN CART***/
.form_label {

    font-size: 1.5em;
    margin-bottom: 5px;
    font-weight: bold;
}
.form_desc{
   margin-top: 20px;
   margin-bottom: 12px;
}
.tr{
    display: table;
    margin-bottom: 10px;
    width: 100%;
    .td_label{
        display: table-cell;
        width: 150px;
        @media screen and (max-width: 450px){
            display: block;
            width: 100%;
            float: none;
        }
    }
    .td_value{
        display: table-cell;
        position: relative;
        .input_text{
            height: 36px;
            padding: 2px 10px;
            border-radius: 4px;
            border: 1px solid #d8d7d7;
            color: #333;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
        }
        @media screen and (max-width: 450px){
            display: block;
            position: relative;
        }
    }
}



.login_form{
    margin-top: 15px;
    .center {
        text-align: center;
    }
    button{
     background: var(--main-color);
     border: none;
     color: #FFF;
     padding: 8px 24px;
     border-radius: 4px;
     text-transform: uppercase;
     &:hover{
        background: var(--extra-color);
    }
}
.other_task span{
    padding: 0 15px;
    color: #e2e2e2;
}
}
/****** end LOGIN IN CART***/
@media screen and (max-width: 768px){
    #products-cart {
        padding: 0px 0px 20px;
    }
    #products-cart .frame-large-body {
        margin-bottom: 20px;
    }
    #products-cart .products-cart-info .form-item {
        width: 100%;
        margin: 0px 0px 10px;
    }
    .name-product{
        min-width: 120px;
    }
}
@media screen and (max-width: 668px){
    #products-cart .frame-large-body table{
        display: none;
    }
    #products-cart .frame-large-body-mobile{
        display: block;
    }
    #products-cart .frame-large-body-mobile .title-name span.price{
        color: #af2a4a;
    }
}

@media screen and (max-width: 800px){
    .table-wrap{
        overflow-x: scroll;
        table {
            width: 800px;
        }
    }


}





.page_title_cart {
    font-size: 30px;
    margin-bottom: 10px;
}
.product_cart  {
    padding-bottom: 20px;
}

.shopcart_product{
    background: #fff;
    margin-bottom: 25px;
    border: 1px solid #eee;
    box-sizing: border-box;
}

.payment-type-title{
    font-size: 20px;
    margin-bottom: 14px;
}
.payment-type{
    background: #fff;
    padding: 25px 20px 18px;
    border: 1px solid #eee;
}

#product_cart_load_ajax{
    width: 70%;
    float: left;
    
    @media all and (max-width: 600px) {
        width: 100%;
    }
    a {
        display: inline-block;
    }

    

    .table-wrap{
        .row-table{
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid #eee;
            .col-td{
                width: 17%;
                padding: 16px 20px;
                border-right: 1px solid #eee;
                -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                        box-sizing: border-box;
                &:nth-child(1){
                    img{
                        width:90px;
                        border: 1px solid #eee;
                    } 
                }
                &:nth-child(2){
                    width: 32%;
                }
                &:last-child{
                    border-right: none;
                }

                .name-item{
                    display: block;
                    margin-bottom: 10px;
                }
                .del-item{
                    color: #fff;
                    width: 20px;
                    height: 20px;
                    border-radius: 2px;
                    background: #f01c24;
                    text-align: center;
                }
            }
            &:nth-child(1){
                background: #fff3e5;
                font-weight: bold;
                .col-td{

                }
            }
            .col-td-number{
                .btn-minus,.btn-plus{
                    width: 27%;
                    height: 36px;
                    display: block;
                    border: 1px solid #d8d7d7;
                    text-align: center;
                    box-sizing: border-box;
                    font-size: 20px;
                    padding-top: 6px;
                    cursor: pointer;
                    
                }
                .btn-minus{
                    float: left;
                    border-right: 0px;
                    border-radius: 3px 0px 0px 3px;
                }
                .btn-plus{
                    float: left;
                    border-left: 0px;
                    border-radius: 0px 3px 3px 0px;
                }

                .numbers-pro{
                    text-align: center;
                    width: 46%;
                    height: 36px;
                    padding: 2px 10px;
                    border: 1px solid #d8d7d7;
                    color: #333;
                    display: block;
                    box-sizing: border-box;
                    margin-right: 0px;
                    float: left;
                }
            }
            
           
        }
    }

}

.payment-type{
    background: #fff;
    padding: 25px 20px 18px;
    border: 1px solid #eee;
    margin-bottom: 25px;
    .container-rd {
       display: block;
        position: relative;
        padding-left: 29px;
        margin-bottom: 12px;
        cursor: pointer;
        /* font-size: 22px; */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default radio button */
    .container-rd input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        left: 0px;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: -2px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container-rd:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container-rd input:checked ~ .checkmark {
      background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container-rd input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the indicator (dot/circle) */
    .container-rd .checkmark:after {
        top: 7px;
        left: 7px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: white;
    }
}



.total-card-code{
    background: #fff;
    border: 1px solid #eee;
    .card_code {
        padding: 20px;
        width: 50%;
        float: left;
        border-right: 1px solid #eee;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        .text{
            margin-bottom: 23px;
        }
        input {
            width: calc(100% - 130px);
            float: left;
            border: 1px solid #eee;
            /* border-radius: 4px; */
            line-height: 36px;
            padding: 0 10px;
            box-sizing: border-box;
            border-right: 0px;
        }
    }
    .ship-total{
        width: 50%;
        float: right;
        padding: 20px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        .total-mn,.cart-code-mn{
            font-size: 15px;
            color: #585858cc;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .ship-mn{
            font-size: 15px;
            color: #585858cc;
            font-weight: bold;
            padding-bottom: 14px;
            border-bottom:1px solid #eee;
            margin-bottom: 10px;
        }
        .total-price-inner{
            font-size: 20px;
            font-weight: bold;
            color: #ED1C24;
        }
        font{
            width: 210px;
            display: inline-block;
            float: left;
        }
        span{
            width: calc(100% - 210px);
            float: left;
        }
    }
}


.buyer_info {
    width: calc(30% - 20px);
    margin-left: 20px;
    float: right;
    box-sizing: border-box;
  
    .input_text,textarea{
        height: 36px;
        padding: 2px 10px;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid #eee;
        color: #333;
        width: 100%;
        max-width: 100%;
        background: #fff;
        margin-bottom: 10px;
        width: 100;
    }
    textarea{
        height: 70px;
        padding: 10px;
    }

    .purchase-provisions{

        .title{
            text-transform: uppercase;
            background: #fff;
            padding: 10px;
            /* border-radius: 4px; */
            
            border: 1px solid #eee;
            border-bottom: 0px solid #eee;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;

        }
        .content{
            overflow-y: scroll;
            width: 100%;
            height: 200px;
            margin-bottom: 10px;
            background: #fff;
            padding: 10px;
            border: 1px solid #eee;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
        }
        .checkbox{
            font-style: italic;
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 10px;
        }


        ::-webkit-scrollbar {
          width: 10px;

        }

        /* Track */
        ::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          border-radius: 10px;
        }
         
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #ddd; 
          border-radius: 10px;
          transition: 0.2s;
          cursor:pointer; ;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #eee; 
        }
    }
}

.button-submit{
    width: 100%;
    height: 40px;
    text-align: center;
    display: block;
    color: #fff;
    text-transform: uppercase;
    background: #f01c24;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        color: #fff;
        background: #C90008;
    }

}
.address_order {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    .title_ao {
     text-transform: uppercase;
     font-size: 16px;
 }
 .address_receipt {
    margin-top: 10px;
    line-height: 22px;
    padding-left: 24px;
    box-sizing: border-box;
    position: relative;
    .form-group {
        .form_name {
            font-weight: bold;
            float: left;
        }
        select {
            margin-left: 15px;
            border: 1px solid #dedede;
            padding: 2px 5px;
            border-radius: 2px;
            background-position: calc(100% - 20px) calc(1em + -6px),calc(100% - 15px) calc(1em + -6px),100% 0;
            &:focus {
                 background-position: calc(100% - 15px) calc(1em + -6px), calc(100% - 20px) calc(1em + -6px), 100% 0;
            }
        }
    }

    input {
     border: 1px solid #dedede;
     padding: 2px 5px;
     border-radius: 2px;
     margin-bottom: 2px;
 }
 .edit_info {
    position: absolute;
    right: 0px;
    top: 0px;
    color: var(--extra-color);
}
.apply_info {
 position: absolute;
 right: 0px;
 top: 0px;
 color: red;
}
svg {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 2px;
    fill: var(--extra-color);
}
}
}

.method_receiver {
    .itemmethod_receiver {
        position: relative;
        margin-right: 10px;
        display: inline-block;
        float: left;
        position: relative;
        padding-left: 12px;
        cursor: pointer;
    }
    input {
        opacity: 0;
    }
    .radio-fake {
        position: absolute;
        top: -1px;
        left: 0;
        height: 20px;
        width: 20px;
        // border-radius: 50%;
        border: 1px solid #555;
        background-color: #fff;
        &:after {
            left: 7px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            content: "";
            position: absolute;
            display: none;
        }
    }
    input ~ .radio-fake {
    }
    input:checked  ~ .radio-fake {
        background: var(--extra-color);
        border: 1px solid var(--extra-color);
        &:after {
            display: block;
        }
    }
}

.a_pay {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 0px;
    a {
        display: inline-block;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        border-radius: 4px;
        background: #ea2828;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }
}

.address_order_checkout {
    .title {
        margin: -20px -20px 20px -20px;
        text-align: center;
        padding: 10px;
        background: #eceef0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
    }
}


.save_point {
    text-align: right;
    margin-bottom: 10px;
    strong {
        color: var(--main-color);
    }
}



.user_points {
    margin-top: 10px;
}
.input_text_point {
    width: calc(100% - 0px);
    float: left;
    border: 1px solid #eee;
    border-radius: 4px;
    line-height: 36px;
    padding: 0 10px;
    padding-right: 0px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
}

.no-product-cart{
    a{
        color: var(--blue-color);
    }
}

.bank-code-wrap{
    display: none;
    label{
        width: 100px;
        float: left;
        margin-top: 6px;
    }
    select{
        display: block;
        width: 300px;
        float: left;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        &:focus{
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        }
    }
    
}

.list_bankings{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 15px;
    border: 1px solid #ddd;
    padding: 10px;
    display: none;
    .item{
        width: calc(50% - 20px);
        margin: 0px 10px 10px;
    }
}


.popup-status-vnpay{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    padding: 30px 20px 20px;
    border: 1px solid #eee;
    line-height: 21px;
    z-index: 11112;
    .title{
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}

.full-screen-block-popup-vnpay{
    z-index: 11111;
    width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;

     background: #0000008c;
}

.page_title{
    margin-bottom: 28px;
}


.all-button-cart{
    .back-home{
        text-transform: uppercase;
        font-size: 14px;
        color: var(--main-color);
        font-weight: bold;
        padding-top: 9px;
        display: inline-block;
        position: relative;
        padding-left: 30px;
        svg{
            height: 20px;
            width: 20px;
            fill: var(--main-color);
            position: absolute;
            left: 0px;
            top: 7px;
        }
        
    }
    .button-submit{
        background: var(--main-color);
        color: #fff;
        padding: 7px 20px;
        font-size: 15px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        border: solid 1px var(--main-color);
        display: inline-block;
        cursor: pointer;
        float: right;
        text-transform: uppercase;
    }
}