#ShareForcouponcode{
	svg{
		left: 0px;
	    top: 50%;
	    position: absolute;
	    fill: #fff;
	    height: 18px;
	    width: 18px;
	    transform: translateY(-50%);
	}
	p{
		position: relative;
    	padding-left: 30px;
    	display: inline-block;
	}
}

.title-share-fb{
	position: relative;
	box-sizing: border-box;
	// margin-bottom: 10px;
	text-align: center;
	.title_promotion{
		font-size: 20px;
		text-align: center;
		text-transform: uppercase;
		/* margin-bottom: 20px; */
		color: red;
	}

	.lnkstyle {
		background-color: #3478f6;
	    -moz-border-radius: 22px;
	    /* -webkit-border-radius: 5px; */
	    /* border-radius: 6px; */
	    display: inline-block;
	    color: #ffffff;
	    line-height: 50px;
	    /* font-size: 12px; */
	    /* padding: 12px 0px; */
	    text-decoration: none;
	    cursor: pointer;
	    /* text-shadow: 0px 0px 0px #3d768a; */
	    float: left;
	    width: 380px;
	    box-sizing: border-box;
	    @media all and (max-width: 420px) {
	      width: 100%;
	    }
	}
	@keyframes chang-color-anim {
		0% {
			background-color: #0187CF;
		}
		30% {
			background-color: #F79606;
		}
		70% {
			background-color: #CD1C2C;
		}

	}
	.lnkstyle:hover {
		// cursor:pointer;
		// background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
		// background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
		// background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
		// background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
		// background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
		// background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
		// filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);

		background-color:#408c99;
	}
	.lnkstyle:active {
		position:relative;
		top:1px;
	}

	.cpncode {

		-moz-box-shadow: 0px 10px 14px -7px #3e7327;
		-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
		box-shadow: 0px 10px 14px -7px #3e7327;

		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
		background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
		background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
		background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
		background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
		background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);

		background-color:#77b55a;

		-moz-border-radius:18px;
		-webkit-border-radius:18px;
		border-radius:18px;

		border:1px solid #4b8f29;

		display:inline-block;
		color:#ffffff;
		font-family:arial;
		font-size:13px;
		font-weight:bold;
		padding:6px 12px;
		text-decoration:none;

		text-shadow:0px 1px 0px #5b8a3c;

	}
	.cpncode:hover {
		cursor:pointer;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
		background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
		background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
		background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
		background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
		background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);

		background-color:#72b352;
	}
	.cpncode:active {
		position:relative;
		top:1px;
	}
}

.wraper_sale{
	margin-top: 20px;
	width: 380px;
	@media (max-width: 420px){
		width: 100%;
	}

	.buttom_down {
	    width: calc(100% - 110px);
	    float: left;
	    padding-left: 15px;
	    box-sizing: border-box;
	    text-align: left;
	    line-height: 20px;
	    font-size: 15px;
	    color: #cf212a;
	    padding-top: 2px;
	}
	
	.logo_product,.sale_date{
		float: left;
	}
	.sale_date{
		label{
			animation: 2s ease-in-out 1s normal none infinite running chang-color-anim;
			color: #fff;
			background: var(--extra-color);
			padding: 8px;
			display: block;
			text-align: center;
			margin-bottom: 15px;
			font-size: 18px;
			transition: 0.5s all;
			-webkit-transition: 0.5s all;
			border-radius: 3px;
		}
	}
	.logo_product{
		background: var(--main-color);
		margin-right: 15px;
		width: calc(25% - 22px);
		text-align: center;
		padding: 13px 3px;
	}
	.sale_date{
		@media all and (max-width: 1200px) {
			width: 100%;
		}
		.hide{
			display: none !important;
		}
	}
	#sale_date{
		width: 97%;
		height: 40px;
		border: 1px solid var(--extra-color);
		background: unset;
		padding-left: 10px;
		color: var(--extra-color);
		font-size: 18px;
		font-weight:700;
	}
	.buy_fast_body{
		position: relative;
	}
	.button-sale-date{
		position: absolute;
		right: 4px;
		top: 50%;
		transform: translate(0px, -50%);
		padding: 6px 15px;
		border: unset;
		background: var(--main-color);
		color: #fff;
		font-size: 16px;
		cursor: pointer;
	}
	.text_summary{
		padding-top: 10px;
		display: block;
		font-size: 15px;
	}
	.text_aaa{
    background: var(--extra-color);
    padding: 8px 25px;
		a{
			color: #fff;
			// padding-right: 25px;
			position: relative;
			text-decoration: underline;
			svg{
				fill: var(--main-color);
				width: 20px;
				height: 14px;
				position: absolute;
				right: 0px;
				top: 50%;
				transform: translate(0px,-50%);
			}
		}
	}
}