.block_tags .block_title {
    background: url("../images/bg_title.png") no-repeat scroll left bottom ;
	border-bottom: 1px solid #42bae3;
    margin-top: 0;
	padding-left: 42px;
}
.block_tags .block_title > span {
    font-family: opensans;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
}
.block_tags .tag_item {
    border: 1px solid #a1a1a1;
    color: #252525;
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 8px;
    margin-left: 4px;
}
.block_tags .tag_item:hover {
    border: 1px solid #42BAE3;
    background: #42BAE3;
    color: #fff;
    text-decoration: none;
}
.block_tags .sepa {
    display: none;
}