.cat_item_store{
    margin-bottom: 20px;
}
.cat-title{
	    background: #fff;
    border: 1px solid #ECECEC;
}
.cat-title .cat-title-main{
        float: left;
        padding: 14px 20px;
        background: var(--main-color);
        position: relative;
        &::before {
            content: '';
    position: absolute;
    top: 3px;
    right: -19px;
    width: 12px;
    height: 0;
    border-style: solid;
    border-width: 22px 0 22px 19px;
    border-color: transparent transparent transparent var(--main-color);
        }
}

.cat-title .cat-title-main > a{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}
.cat-title .nav-tabs{
    float: right;
    display: flex;
}
.cat-title .nav-tabs li{ 
       margin-right: 14px;
    margin-left: 16px;
    margin-top: 15px;
    a {
        color: var(--extra-color);
    }
}
.cat-title .nav-tabs li.active a, 
.cat-title .nav-tabs li:hover a{
	color: #0183BF;    
	text-decoration: underline;
}
.title_icon{
        width: 40px;
    height: 50px;
    float: left;
    background: #00A7F4;
    margin-left: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
    position: relative;
}
.title_icon i {
        position: absolute;
    content: ' ';
    width: 22px;
    height: 26px;
    top: 13px;
    left: 16px;
    z-index: 10;
}
.row_inner {
    margin: 0 -10px;
    @media all and (max-width: 800px){
        margin: 0 -5px;
    }
}
.row_inner .item {
    margin: 0 10px;
    width: calc(25% - 20px);
}


#cat-dien-thoai .title_icon i,#cat-iphone .title_icon i {
        background-position: -85px -64px;
}
#cat-phu-kien .title_icon i {
    background-position: -113px -64px;
    width: 29px;
    height: 26px;
    top: 13px;
    left: 12px;
}
#cat-may-tinh-bang .title_icon i {
     background-position: -229px -77px;
}
#cat-dich-vu .title_icon i {
        background-position: -273px -125px;
    height: 31px;
    left: 13px;
    top: 11px;
}
#cat-dich-vu-sua-chua .title_icon i {
         background-position: -305px -124px;
    height: 31px;
    left: 13px;
    top: 11px;
}
@media only screen and (max-width:768px){
	.cat-title .nav-tabs {
	    display: none;
	}
}
@media only screen and (max-width:500px){
	#cat_item_store_136{
		display: none;
	}
	.home_pos_2 {
		display: none;
	}
}