

.wraper-department{
    .title-page{
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 16px;
        @media only screen and (max-width: 1024px) {
            padding-top: 30px;
        }
    }
}

.frame_head h1 {
    position: relative;
    font-size: 20px;
    text-align: left;
    margin-bottom: 32px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    @media only screen and (max-width: 500px) {
        font-size: 14px;
        margin-bottom: 20px;
    }
}

// .frame_head h1 span {
//     color: #333;
//     font-size: 30px;
// }

.border-pro {
    margin-bottom: 20px;
}

.border-mainmenu {
    height: 3px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.left-de {
    overflow: hidden;
}

.right-de {
    width: 400px;
    margin-right: 26px;
    @media only screen and (max-width: 800px) {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}

.title-add {
    font-size: 18px;
    padding-top: 2px;
    margin: 0px 0px 20px 0px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    span{
        color: var(--main-color);
    }

}



.wrapper-select-add{
    margin-bottom: 30px;
    background: #fff;
    padding: 23px 20px 23px 201px;
    position: relative;
    @media only screen and (max-width: 1024px) {
        border: 1px solid #dedede;
    }
    @media only screen and (max-width: 460px) {
        padding: 15px;
    }
    .text-left{
        text-transform: uppercase;
        position: absolute;
        left: 20px;
        top: 34px;
        font-size: 15px;
        @media only screen and (max-width: 460px) {
            font-size: 14px;
            position: relative;
            left: auto;
            top: auto;
            margin-bottom: 10px;
        }
    }
}
.wrapper-select-add select {
    width: 220px;
    float: left;
    height: 43px;
    border: 1px solid #e5e5e5;
    margin-right: 14px;
    font-size: 15px;
    background: url(../images/select-add.png) no-repeat 95% center;
    -webkit-appearance: none;
    padding-left: 10px;
    border-radius: 6px;
}

#map_canvas {
    width: 100%;
    height: 642px;
}

.wrapper-list-agency {
    height: 550px;
    padding-right: 20px;
}

.list-item-agency {
    padding-left: 0px;
}

.name-agency {
    margin-top: 0px;
    margin-bottom: 10px;
    position: relative;
    line-height: 23px;
    svg{
        position: absolute;
        left: 0px;
        top: -2px;
        fill: var(--main-color);
        width: 18px;
        height: 18px;
    }
}

.name-agency:hover {
    cursor: pointer;
    color: red;
}

.img-agency:hover {
    cursor: pointer;
}

.wrapper-info-agency{
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 2px solid #ddd;
    @media only screen and (max-width: 768px) {
        border-bottom: 1px solid #ddd;
    }
    .info-l{
        width: calc(49% - 10px);
        float: left;
        .name{
            font-size: 17px;
            margin-bottom: 10px;
            text-transform: uppercase;
            line-height: 24px;
            @media only screen and (max-width: 600px) {
                font-size: 15px;
            }
        }
        .link-map{
            padding: 10px 20px 10px 45px;
            border-radius: 4px;
            display: inline-block;
            position: relative;
            background: red;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
            margin-right: 5px;
            svg{
                width: 13px;
                height: 13px;
                fill: #fff;
                position: absolute;
                left: 20px;
                top: 14px;
            }
        }
        .more_info{
            line-height: 26px;
            margin-bottom: 34px;
            @media screen and (max-width:768px){
                margin-bottom: 5px;
            }

        }
        .time_wk{
            margin-bottom: 95px;
            @media screen and (max-width:768px){
                margin-bottom: 18px;
            }
        }
        .button_map{
            background: var(--main-color);
            display: inline-block;
            padding: 10px 25px;
            color: #fff;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background: #000;
            }
        }
        @media only screen and (max-width: 768px) {
            width:100%;
            float: none;
            margin-bottom: 20px
        }
    }
    .list-image-r{
        width: 51%;
        float: right;
        @media only screen and (max-width: 768px) {
            width:100%;
            float: none;
        } 
        .owl-controls .owl-nav{
            position: absolute;
            top: 43%;
            height: 0;
            width: 100%;
            // display: none;
        }
        // #fs-slider:hover  .owl-controls .owl-nav{
        //     display: block;
        // }
        .owl-controls .owl-nav div{
            display: inline-block;
            zoom: 1;
            position: absolute;
            padding: 6px 0 0;
            margin: 0;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 5px;
            background: #0000007a;
            width: 36px;
            height: 36px;
            text-align: center;
            font-size: 40px;
            color: #fff;
            font-family: -webkit-body;
            line-height: 16px;
            box-sizing: border-box;
        }
        .owl-controls .owl-prev {
            left: 10px;
        }
        .owl-controls .owl-next {
            right: 10px;
        } 
    }
    .avt-main{
        width: calc(100% - 150px);
        float: left;
        @media only screen and (max-width: 768px) {
            width:100%;
            float: none;
        }
    }
    .avt-other{
        width: 140px;
        float: right;
        a{
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
        @media only screen and (max-width: 768px) {
            display: none;
        } 
    }
}







.mCSB_dragger_bar {
    width: 12px !important;
    border-radius: 0px !important;
    background: var(--main-color) !important;
}

.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: 0;
    margin: 0px 0px 0px 0px !important;
    background: #ddd;
    width: 12px !important;
}

.info_content {
    text-align: center;
}

.map-top {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 22px;
}

.gm-style .gm-style-iw {
    text-align: center;
}

.map-top h4 {
    font-size: 18px;
    color: #c4161c;
    margin-bottom: 18px;
}

.info_content p {
    line-height: 15px;
}



.add-email {
    background: url(../images/email-add.png) no-repeat 164px 6px;
    padding-left: 184px;
}

@media only screen and (max-width: 400px) {
    .add-email {
        background: url(../images/email-add.png) no-repeat left 6px !important;
        padding-left: 15px !important;
    }

    p.add-phone {
        padding-left: 15px !important;
        background: url(../images/phone-add.png) no-repeat left 2px !important;
    }

    .add-agency {
        background: url(../images/local-add.png) no-repeat left 2px !important;
        padding-left: 15px !important;
    }

    .item-agency > img {
        margin-right: 0px !important;
        width: 100%;
        margin-bottom: 15px;
    }
}



@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .wrapper-select-add select {
        width: 47% !important;
    }

    .right-de {
        width: 350px !important;
    }
}

@media only screen and (max-width: 600px) {
    #map_canvas {
        height: 300px !important;
    }
}

@media only screen and (max-width: 1100px) {
    .frame_head {
       background: none !important; 
       margin-bottom: 15px;
   }
   .frame_head h1 span {
    color: #333;
    /*font-family: "arial bold";*/
    text-transform: uppercase;
}
}
@media only screen and (max-width: 800px) {
    .right-de.fr {
        width: 100% !important;
        margin-left: 0px !important;
        margin-bottom: 25px;
    }

    .left-de {
        overflow: visible !important;
        width: 100%;
    }
}


.wrapper-ct-depart{
    // padding-bottom: 44px;
    // border-bottom: 1px solid #ebebeb;
    // margin-bottom: 35px;
    // @media only screen and (max-width: 800px) {
    //     padding-bottom:0px;
    // }
}
.channel-social{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    margin-bottom: 65px;
    .block{
        width: calc(100% / 3 - 30px);
        margin: 0px 15px;
        padding: 33px 40px;
        border: 1px solid #ebebeb;
        box-sizing: border-box;
        @media only screen and (max-width: 800px) {
            width: calc(100% / 2 - 30px);
            margin-bottom: 30px;
        }
        @media only screen and (max-width: 420px) {
            width: 100%;
            margin-bottom: 30px;
        }
        .block_title{
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        .summary-social{
            line-height: 22px;
            height: 40px;

        }
    }
    .image{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 37px;
        img{
            height: 127px;
        }
    }
    .image-subcibe{
        text-align: center;
    }
    .body-social-zalo{
        .image img{
            height: 206px;
        }
    }

}

.hotline-contact{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px;
    padding-bottom: 44px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 35px;
    @media only screen and (max-width: 420px) {
       padding-bottom: 20px;
    }
    .hotline-bt{
        width: calc(25% - 20px);
        margin: 0px 10px;
        position: relative;
        padding: 20px 15px 20px 80px;
        box-sizing: border-box;
        text-transform: uppercase;
        border: none;
        color: #fff;


        &:nth-child(1){
            background: #3c579a;
        }
        &:nth-child(2){
            background: #cd2228;
        }
        &:nth-child(3){
            background: #6dbd44;
        }
        &:nth-child(4){
            background: #ef8d2c;
        }


        @media only screen and (max-width: 800px) {
            width: calc(50% - 20px);
        }
        @media only screen and (max-width: 420px) {
            width: 100%;
        }
        div{
            font-size: 18px;
        }
        a{
            margin-top: 4px;
            font-style: italic;
            font-size: 14px;
            text-transform: none;
             color: #fff;
        }
        svg{
            position: absolute;
            width: 40px;
            height: 40px;
            fill: #fff;
            left: 15px;
        }

        @media screen and (max-width:768px){
            padding: 15px 15px 15px 60px;
            margin-bottom: 10px;
            div{
                font-size: 14px;
            }
            svg{
                width: 30px;
                height: 30px;
                left: 15px;
                top: 20px;
            }
        }
    }
}