.product_menu {
        position: relative;
    float: left;
    margin-right: 1px;
}
.menu_label {
  color: #FFF;
    font-size: 16px;
    /* font-weight: bold; */
    left: 0;
    padding: 11px 53px 11px 42px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
}

.menu_label span{
    position: relative;
}
.menu_label span:before {
        content: "\f0c9";
    position: absolute;
    top: 3px;
    left: -26px;
    font-family: FontAwesome;
    font-size: 18px;
    font-weight: normal;
}
.menu_label span:after {
        content: "\f13a";
    position: absolute;
    top: 2px;
    right: -24px;
    font-family: FontAwesome;
    font-weight: normal;
}

.menu_label.active {
	
}
#product_menu_ul {
  left: 0px;
    position: absolute;
    top: 35px;
    width: 269px;
    z-index: 999;
    -webkit-transition: 0.7s ease-in-out all;
    transition: 0.7s ease-in-out all;
    opacity: 0;
    visibility: hidden;
    
}
#product_menu_ul ul{
        background: rgba(255, 255, 255, 0.81);
    border: 1px solid rgba(231, 231, 231, 1);
}
#product_menu_ul > ul{
    margin-top: 11px;
}
#product_menu_ul:hover ul{
    background: rgba(255, 255, 255, 1);
     -webkit-transition: 0.4s ease-in-out all;
    transition: 0.4s ease-in-out all;
}

    #product_menu_ul {
      left: 0px;
        position: absolute;
        top: 35px;
        width: 269px;
        z-index: 999;
        -webkit-transition: 0.7s ease-in-out all;
        transition: 0.7s ease-in-out all;
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    #product_menu_top:hover #product_menu_ul{
           opacity: 1;
        visibility: visible;
        display: block;
    }
   

@media screen and (max-width:989px){   
    #product_menu_ul {        
        opacity: 1;
        visibility: visible;
        
    }
}
#product_menu_ul .level_0 {
       border-bottom: 1px solid rgba(232, 232, 232, 0.76);
    padding: 10px 0px 9px 25px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
#product_menu_ul .level_0:before {
       content: "\f138";
    position: absolute;
    top: 11px;
   
    font-family: FontAwesome;
    font-weight: normal;
    left: 2px;
    color: #00B8E0;
    -webkit-transition: 0.7s ease-in-out all;
    transition: 0.7s ease-in-out all;
}

#product_menu_ul .level_0:hover {
	color: #0183BF;
}
#product_menu_ul .level_0:hover:before {
    transform:  rotate(180deg) translate(0,0);
    -webkit-transform:  rotate(180deg) translate(0,0);
    /*-webkit-transition: all cubic-bezier(0.4, 0, 1, 1) 2s;*/
}

#product_menu_ul .level_0:hover a{
   
}
#product_menu_ul .level_0:hover a span{
    color: #0183BF;
}
#product_menu_ul .level_0 .menu_item_a {
    display: table;
}

#product_menu_ul .level_0  .img-menu {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
#product_menu_ul .level_0:hover .img-menu .grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\' 0  0  0  1  0  0  0  0  1  0 0  0  0  1  0 0  0  0  1  0\'/></filter></svg>#grayscale");
}
#product_menu_ul .level_0:hover .text-menu {
    
}
#product_menu_ul .level_0 .text-menu {
	    color: #333333;
    display: table-cell;
    vertical-align: mid;
}
#product_menu_ul .level_0.level_1_same_0  {	
    border-bottom: medium none;
    padding: 2px 0 2px 12px;
}
#product_menu_ul .level_0.level_1_same_0  .text-menu {
	 font-weight: normal;
    padding-left: 29px;
}
#product_menu_ul .level_0:hover  .highlight{
	display: flex;
}

#product_menu_ul .second-level-menu ul li{
	    padding: 4px 0 4px 16px;
}
#product_menu_ul .highlight {
   background: #FFFFFF;
    border: 1px solid #E7E7E7;
    display: none;
    left: 43px;
    margin-left: 226px;
    padding: 12px 0;
    position: absolute;
    z-index: 99999;
    top: 0;
    width: 912px;
    height: 385px;
    overflow: hidden;
}
/*#product_menu_ul .layer_menu_1 {
    top: -3px;
}
#product_menu_ul .layer_menu_2 {
    top: -60px;
}
#product_menu_ul .layer_menu_3 {
    top: -164px;
}
#product_menu_ul #childs_of_50 {
    top: -31px;
}
#product_menu_ul .layer_menu_4 {
    bottom: -31px;
}
#product_menu_ul .layer_menu_5 {
    bottom: -31px;
}

*/#product_menu_ul .highlight1 {
   display: inline-block;
    float: left;
    min-width: 118px;
    padding: 0 30px;
}
#product_menu_ul .menu_col:FIRST-LETTER{
    border-right: none;
}
#product_menu_ul  .menu_col{
}
#product_menu_ul  .menu_col:first-child{
}
#product_menu_ul .field_name{
	border-bottom: medium none;
    color: #2E2E2E;
    font-weight: bold;
    padding: 10px 25px;
    width: 178px;
}

#product_menu_ul .sub-menu-level0 {
    margin-bottom: 2px;
}

#product_menu_ul  .sub-menu-level0 a {
    color: #3F3F3F;
    font-weight: bold;
}
#product_menu_ul .sub-menu-level1 {
    padding: 2px 0;
}
#product_menu_ul .sub-menu-level1 a{
     color: #000;
}
#product_menu_ul .sub-menu-level1 .image_sub{
	display: none;
}
#product_menu_ul .second_field{
	border-top: 1px dotted #D3D3D3;
    margin-top: 10px;
}

#product_menu_ul .field_name h3 {
    color: #000;
    margin-bottom: 4px;
}
#product_menu_ul .field_name h3 a{
    color: #000;
    margin-bottom: 4px;
}
#product_menu_ul .field_name .read_more a{
    color: #348AD4;
    text-decoration: underline;
}
#product_menu_ul .field_label {
    color: #3F3F3F;
    margin-bottom: 5px;
}
.cat_filters_home_wrapper{
      position: absolute;
    width: 300px;
    left: 100%;
    visibility: hidden;
  opacity: 0;
    top: 0;
        -webkit-transition: 0.5s ease-in-out all;
    transition: 0.5s ease-in-out all;

}
.product_menu_ul_innner .level_0:nth-child(n+5) .cat_filters_home_wrapper{
        bottom: 0;
    top: unset;
} 

.product_menu_ul_innner .li-product-menu-item:hover .cat_filters_home_wrapper,
.product_menu_ul_innner .li-product-menu-item.opened .cat_filters_home_wrapper{
    visibility: visible;
  opacity: 1;
}

.cat_filters_home_wrapper .cat_filters_home_ul{
       padding: 0px 10px;
    margin: 0 0 0 10px !important;
}
.cat_filters_home_wrapper .cat_filters_home_ul li{
       border-bottom: 1px solid rgba(232, 232, 232, 0.76);
    padding: 10px 0px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
    
.cat_filters_home_wrapper .cat_filters_home_ul li a{
   color: #333333;
       
}
  
.cat_filters_home_wrapper .cat_filters_home_ul li:hover a{
   color: #0084BF;
}
@media screen and (max-width:530px){
    #product_menu_ul .level_0 {       
        padding: 10px 0px 9px 0px;    
    }
    #product_menu_ul .level_0 .menu_item_a {
       display: table;
        padding-left: 0px;
        padding-top: 2px;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
    #product_menu_ul {    
        width: calc( 100vw - 17px );
    }
     #product_menu_ul .level_0 .bt_after {
        position: absolute;
        top: 20px;
        font-weight: normal;
        right: -7px;
        color: #00B8E0;
        -webkit-transition: 0.7s ease-in-out all;
        transition: 0.7s ease-in-out all;
        width: 40px;
        height: 36px;
        box-sizing: border-box;
        padding-top: 5px;
        padding-left: 20px;
        transform: translateY(-50%);
        cursor: pointer;
    }
    #product_menu_ul .level_0 .bt_after:before {
           content: "\f105";
        font-family: FontAwesome;
         font-size: 28px;
    }

    #product_menu_ul .level_0:hover {
        color: #0183BF;
    }
    #product_menu_ul .level_0:hover .bt_after {
       
    }
    #product_menu_ul .level_0:before{
        display: none;
    }
    .cat_filters_home_ul .bt_before{
        position: absolute;
        top: 28px;
        font-weight: normal;
        left: -12px;
        color: #00B8E0;
        -webkit-transition: 0.7s ease-in-out all;
        transition: 0.7s ease-in-out all;
        width: 36px;
        height: 36px;
        /* background: red; */
        box-sizing: border-box;
        padding-top: 3px;
        padding-left: 13px;
        transform: translateY(-50%);
        cursor: pointer;
    }
     #product_menu_ul .level_0 .bt_before:before {
        content: "\f138";
        font-family: FontAwesome;
        
        
    }
    #product_menu_ul ul {
        background: rgb(255, 255, 255);
        border: none;
    }
    .cat_filters_home_wrapper{
            width: 100%;
    box-sizing: border-box;
    }
    .cat_filters_home_wrapper .cat_filters_home_ul li {
        border-top: 1px solid rgba(232, 232, 232, 0.76);
        border-bottom: none;
        padding: 10px 0px 10px 20px;
        position: relative;
        margin-left: 0;
        margin-right: 0;
    }
    .cat_filters_home_wrapper .cat_filters_home_ul {
        padding: 0px 0px;
        margin: 0 0 0 0px !important;
            background: rgb(255, 255, 255);
    border: none;
    }
    .cat_filters_home_wrapper {
        position: unset;
        width: 100%;
        /* left: 100%; */
        visibility: visible;
        opacity: 1;
        top: 0;
        -webkit-transition: 0.5s ease-in-out all;
        transition: 0.5s ease-in-out all;
        display: none;
    }
    .level_0:hover .cat_filters_home_wrapper{
        display: block;
    }
}  
@media screen and (max-width:330px){
	.menu_label span font{
        display: none;
    }
}