.menu_label {
    color: #FFF;
    font-size: 16px;
    left: 0;
    padding: 12px 25px 12px 30px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    background: var(--main-color);
    margin-left: 23px;
    font-family: RobotoCondensed-Bold;
}
.menu_label:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 45px 23px;
    border-color: transparent transparent var(--main-color) transparent;
    top: 0px;
    left: -22px;
}
.menu_label:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 23px 0px 0px;
    border-color: var(--main-color) transparent transparent transparent;
    top: 0px;
    right: -22px;
    z-index: 10;
}
.menu_label .icon-menu{
    position: absolute;
    left: 0px;
}
// .menu_label span:before {
//        content: "\f0c9";
//     position: absolute;
//     top: 2px;
//     left: -26px;
//     font-family: FontAwesome;
//     font-size: 17px;
//     font-weight: normal;
// }
// .menu_label span:after {
//        content: "\f13a";
//     position: absolute;
//     top: 2px;
//     right: -24px;
//     font-family: FontAwesome;
//     font-weight: normal;

// }

.menu_label.active {
	
}
#product_menu_ul {
   left: 0px;
    position: absolute;
    top: 35px;
    width: 100vw;
    z-index: 999;
    /* -webkit-transition: 0.7s ease-in-out all; */
    /* transition: 0.7s ease-in-out all; */
  
    display: none;
}
#product_menu_ul > ul{
    background: var(--main-color);
    border-top: 1px solid rgba(231, 231, 231, 0.51);
    margin-top: 8px;
    position: relative;
}
#product_menu_top:hover #product_menu_ul{
   
}
#product_menu_ul .level_0 {
       border-bottom: 1px solid rgba(255, 255, 255, 0.33);
    padding: 12px 0 12px 15px;
    position: relative;
}
#product_menu_ul .level_0:hover {
	

}

#product_menu_ul .level_0 .menu_item_a {
display: table;
    text-transform: uppercase;
    color: #FFF;
}

#product_menu_ul .level_0  .img-menu {
       margin-right: 7px;
    float: left;
}
#product_menu_ul .level_0  .img-menu img{
        
}
#product_menu_ul .level_0:hover .img-menu .grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\' 0  0  0  1  0  0  0  0  1  0 0  0  0  1  0 0  0  0  1  0\'/></filter></svg>#grayscale");
}
#product_menu_ul .level_0:hover .text-menu {
    
}
#product_menu_ul .level_0 .text-menu {
	    color: #FFF;
    display: table-cell;
    vertical-align: mid;
}
#product_menu_ul .level_0.level_1_same_0  {	
    border-bottom: medium none;
    padding: 2px 0 2px 12px;
}
#product_menu_ul .level_0.level_1_same_0  .text-menu {
	 font-weight: normal;
    padding-left: 29px;
}
#product_menu_ul .level_0:hover  .highlight{
	display: flex;
}

#product_menu_ul .second-level-menu ul li{
	    padding: 4px 0 4px 16px;
}
#product_menu_ul .highlight {
   background: #FFFFFF;
    border: 1px solid #E7E7E7;
    display: none;
    left: 43px;
    margin-left: 226px;
    padding: 12px 0;
    position: absolute;
    z-index: 99999;
    top: 0;
    width: 912px;
    height: 385px;
    overflow: hidden;
}
/*#product_menu_ul .layer_menu_1 {
    top: -3px;
}
#product_menu_ul .layer_menu_2 {
    top: -60px;
}
#product_menu_ul .layer_menu_3 {
    top: -164px;
}
#product_menu_ul #childs_of_50 {
    top: -31px;
}
#product_menu_ul .layer_menu_4 {
    bottom: -31px;
}
#product_menu_ul .layer_menu_5 {
    bottom: -31px;
}

*/#product_menu_ul .highlight1 {
   display: inline-block;
    float: left;
    min-width: 118px;
    padding: 0 30px;
}
#product_menu_ul .menu_col:FIRST-LETTER{
    border-right: none;
}
#product_menu_ul  .menu_col{
}
#product_menu_ul  .menu_col:first-child{
}
#product_menu_ul .field_name{
	border-bottom: medium none;
    color: #2E2E2E;
    font-weight: bold;
    padding: 10px 25px;
    width: 178px;
}

#product_menu_ul .sub-menu-level0 {
    margin-bottom: 2px;
}

#product_menu_ul  .sub-menu-level0 a {
    color: #3F3F3F;
    font-weight: bold;
}
#product_menu_ul .sub-menu-level1 {
         position: relative;
}

#product_menu_ul .sub-menu-level2 a{
       color: #fff;
    position: relative;
    padding-left: 20px;
    padding-top: 3px;
    display: inline-block;
    padding-bottom: 3px;
}

#product_menu_ul .sub-menu-level2 a:before{
      position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f105";
    left: 8px;
    top: 8px;
    font-size: 12px;
    color: #ffffff;
}
#product_menu_ul .sub-menu-level1 > a{
    line-height: 22px;
    /* height: 23px; */
    display: block;
    /* font-family: RobotoBold; */
    border-top: 1px solid #efefef21;
    padding-bottom: 3px;
    position: relative;
    margin-bottom: 5px;
    margin-top: 6px;
    color: #FFF;
    padding-top: 5px;

}
#product_menu_ul .sub-menu-level1 > a:before{
    
}
#product_menu_ul .sub-menu-level1 .image_sub{
	display: none;
}
#product_menu_ul .second_field{
	border-top: 1px dotted #D3D3D3;
    margin-top: 10px;
}

#product_menu_ul .field_name h3 {
    color: #000;
    margin-bottom: 4px;
}
#product_menu_ul .field_name h3 a{
    color: #000;
    margin-bottom: 4px;
}
#product_menu_ul .field_name .read_more a{
    color: #348AD4;
    text-decoration: underline;
}
#product_menu_ul .field_label {
    color: #3F3F3F;
    margin-bottom: 5px;
}
.cat_filters_home_wrapper > ul.cat_filters_home_ul {
  padding: 4px 10px;
    /* width: calc( 100vw - 60px ); */
    /* float: left; */
    box-sizing: border-box;
}
.cat_filters_home_wrapper_sub_level2{
    display: none;
}
#product_menu_ul .sub-manu-level1 {
       padding: 4px 10px;
    width: 33.33%;
    float: left;
    box-sizing: border-box;
}
@media screen and (max-width:330px){
	.menu_label span font{
        display: none;
    }
}
.cat_filters_home_wrapper{
   display: none;
    top: 0;
    /* width: 100%; */
    /* background: #FFF; */
    /* min-height: 500px; */
    /* border: 1px solid #EEE; */
    /* max-height: 200px; */
    overflow: auto;
    padding-bottom: 10px;
}
.level_0:hover .cat_filters_home_wrapper{
  
}


#product_menu_ul .level_0:hover .cat_filters_home_wrapper > a{
  
}

@media screen and (max-width:530px){
   
    //  #product_menu_ul .level_0 .bt_after {
    //    position: absolute;
    //     top: 0px;
    //     font-weight: normal;
    //     right: -3px;
    //     color: #ffffff;
    //     -webkit-transition: 0.7s ease-in-out all;
    //     transition: 0.7s ease-in-out all;
    //     width: 40px;
    //     height: 36px;
    //     box-sizing: border-box;
    //     padding-top: 5px;
    //     padding-left: 20px;
    //     /* transform: translateY(-50%); */
    //     cursor: pointer;
    // }
    // #product_menu_ul .level_0 .bt_after:before {
    //        content: "\f105";
    //     font-family: FontAwesome;
    //      font-size: 28px;
    // }
    // #product_menu_ul .level_0.opened > .bt_after{
    //     transform: rotate(90deg);

    // }
    // .product_menu_ul .level_0 .bt_before{
    //        position: absolute;
    //     top: 50%;
    //     font-weight: normal;
    //     left: -13px;
    //     color: #00B8E0;
    //     -webkit-transition: 0.7s ease-in-out all;
    //     transition: 0.7s ease-in-out all;
    //     width: 36px;
    //     height: 36px;
    //     /* background: red; */
    //     box-sizing: border-box;
    //     padding-top: 3px;
    //     padding-left: 13px;
    //     transform: translateY(-50%);
    //      cursor: pointer;
    // }
    //  #product_menu_ul .level_0 .bt_before:before {
    //     content: "\f104";
    //     font-family: FontAwesome;
    //     font-size: 28px;
        
    // }
    //   .bt_after_child {
    //       position: absolute;
    // top: -3px;
    // font-weight: normal;
    // right: -12px;
    // color: #ffffff;
    // -webkit-transition: 0.7s ease-in-out all;
    // transition: 0.7s ease-in-out all;
    // width: 40px;
    // height: 36px;
    // box-sizing: border-box;
    // padding-top: 5px;
    // padding-left: 20px;
    // /* transform: translateY(-50%); */
    // cursor: pointer;
    // }
    // .bt_after_child:before {
    //    content: "\f105";
    // font-family: FontAwesome;
    // font-size: 22px;
    // }
    // .opened > .bt_after_child{
    //     transform: rotate(90deg);

    // }
}