.title_tour{
	font-size: 24px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    line-height: 40px;
    padding: 5px 10px;
	span{
		color: #2179b9;
	}
}
.list_trips_wrapper{
	border: 1px solid #ddd;
	border-width: 1px 0px 0px 1px;
	border-radius: 4px 0px 0px 4px;
	table.table_trips{
		tr{
			th{
				color: #2179b9;
			}
			td,th{
				max-width: 100%;
			    box-sizing: border-box;
			    padding: 5px;
			    line-height: 24px;
			    text-align: center;
			    border: 1px solid #eaeaea;
    			border-width: 0px 1px 1px 0px;
    			border-radius: 0px 4px 4px 0px;
			}
		}
	}
}
.button_change{
	line-height: 30px;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	background-color: #eaeaea;
	color: #333;
	display: inline-block;
	padding: 0px 15px;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-bottom: 10px;
	&:hover{
		background-color: #2179b9;
		color: #fff;
	}
}
.tbl_change{
	display: none;
	table{
		tr{
			th,td{
				padding: 5px 10px;
			}
			th{

			}
		}
	}
}
